@font-face { font-family: 'SEGOEUI'; src: url('fonts/segoe-ui/SEGOEUI.TTF'); } 
@font-face { font-family: 'SEGOEUI'; font-weight: bold; src: url('fonts/segoe-ui/SEGOEUI.TTF');}
body{
	margin: 0 auto;
}
nav {
	padding: 24px 24px 24px 24px;
	text-align: right;
	position: relative;
    width: 100%;
	z-index: 9999999999999999999;
}
 #nav-1{
        position: fixed;
        overflow-x: hidden !important;
    }
	.link-1 {
  		transition: 0.3s ease;
  		color: #b32024;
  		text-decoration: none;
  		padding: 20px 0;
  		margin: 0 20px;
	}
    #link-ham{
        background: rgba(255, 255, 255, 0.51);
        color: #b32024;
        font-size: 15px;
        text-decoration: none;
    }
	.link-1:hover {
      	text-decoration: none;
       	color: #000;
	}
    .active{
        color: black;
        text-decoration: none;
    }
    a:focus, a:hover {
        color: black;
        text-decoration: none;
    }
.prdRowtop{
	margin-top: 120px !important;
}
.portfol{
	width: 19%;text-align: center;
}
.sec,.sec1{
	height: 100vh;
}
#icon1,#icon2,#icon3,#icon4,#icon5{
	color: #666;
}
#homebgImg{
	width: 100%;
}
.center-block{
	margin-top: 10pt;
}
.productName{
	margin-bottom: 10px;
	margin-bottom: 10px;
}
#logoG{
	margin-top: -60%;margin-left: 33%;width: 32%;
}
.joinRowRight{
	text-align: right;margin-left: 0px;margin-right: 0px;
}
.joinRow{
	text-align: center;margin-left: 0px;margin-right: 0px;margin-top: 4%;
}
.joinRowLeft{
	text-align: left;margin-left: 0px;margin-right: 0px;
}
.productName {
	font-size: 14pt;
}
#tagLine{
	top: 47%;
	left: 34%;
	font-size: 23px;
	position: absolute;
}
#burrowfet1{
	margin-top: 100px;
}
.burrowfet{
	margin-top: 30px;
}
#burrowBg{
	background-image: url('../img/burrow/1.png');
	width: 100%;height: 100vh;
	background-repeat: no-repeat;
    background-position: center;background-position: 90% 100%;
    background-size: 90%;
}
#burrowdes{
	background-image: url('../img/burrow/rent.png');
	width: 100%;height: 100vh;
	background-repeat: no-repeat;
    background-position: center;
    background-position: 30% 100%;
    background-size: 100%;
}
.section{
	position: relative;
	font-family: SEGOEUI;
}
.sectionHead{
	text-align: center;
	font-family: SEGOEUI;
	letter-spacing: 3px;
	font-weight: 300;
  	padding-bottom: 10px;
  	position: relative;
  	margin: 0px;
  	margin-top: 40px;
  	margin-bottom: 40px;
  	position: relative;
  	font-size: 30px;
}
.sectionHead:before{
 	content: "";
    position: absolute;
    width: 16.5%;
    height: 1px;
    bottom: 0;
    left: 41.5%;
    background-size: cover;
    background-position: center;
    background-image: url('../img/line.png');
}
.sectionSubHead{
	letter-spacing: 2px;
	text-align: center;
	position: relative;
	font-size: 14pt;
}
.section_text{
	text-align: center;
	position: relative;
	font-size: 12pt;
}
.section_text1{
	margin-top: 10px;
	text-align: center;
	font-size: 12pt;
}
.section_text2{
	font-size: 12pt;
}
.text_primary{
	color: #b32024;
}
.text_secondry{
	color: #595959
}
#rocketImg1{
	width: 40%;
	margin-left: 30%;
}
#rocketImg2{
	width: 10%;
	margin-left: 45.2%;
	margin-top:-30%;
}
#rocketImg3{
	width: 50%;
	margin-left:25%;
	margin-top:-15%;
}
#rocketImg4{
	width: 3%;
	margin-left:-45%;
	margin-top:-80%;
}
#rocketImg5{
	width: 2%;
	margin-left: 32%;
	margin-top:-68%; 
}
#rocketImg6{
	width: 7%;
	margin-left:-30%;
	margin-top:-48%;
}
#rocketImg7{
	width: 3%;
	margin-left: -3%;
	margin-top:-71%;
}
#rocketImg8{
	width: 4%;
	margin-left: 11%;
	margin-top:-70%;
}
#rocketImg9{
	width: 2%;
	margin-left: 56%;
	margin-top:-65%;
}
.about{
	background-color: #fff;
	margin-top:-10%;
}
.leadName{
	text-align: center;
	margin-top:10%;
	letter-spacing: 2px;
}
.leadCol{
	padding-left:1%;
	padding-right:1%;
}
.leadImg{
	width: 100%;
}
.leadRow1{
	margin-top: 5%;
}
.leadRow2{
	margin-top: 1%;
}
.joinBtn{
	color:#ffffff;
	background-color: #0a9400;
	padding: 15px 35px 15px 35px;
	border-radius: 10px;
	border: 0px;
	outline: none;
}
.prdRow{
	margin-top: 60px;
}
#prdList{
	list-style: none;
}
#prdCntrl{
	right: 100%;
}
.noMoreBtn{
	color:#ccc;
	background-color: #fff;
	padding: 15px 55px 15px 55px;
	border-radius: 5px;
	border: 1px solid #ccc;
	outline: none;
}
.noMoreBtn:hover{
	color:#fff;
	background-color: #0a9400;
}
.noMoreRow{
	text-align: center;
	margin-top: 20px;
}
.simplefilter{
	padding-left: 0px
}
.downloadBtn{
	padding-left: 10%;
	padding-right: 10%;
}
.dBtnTemp{
	 width:30%;
	 margin-left: 34%;
}
.listBtns{
	margin-top: 50px;
}
#contactRow{
	margin-top: 30px;
}
#mapright{
	padding-left: 50px;
}
.mapIcon{
	width:70%;
}
#msgSec{
	margin-top: 20px;
	margin-bottom: 20px;
}
#mail{
	padding-top: 10px;
}
.inputType{
	width: 100%;
	padding: 12px 20px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-sizing: border-box;
	outline: none;
}
#submit{
	width:100%;
	padding: 12px 20px;
	display: inline-block;
	border-radius: 8px;
	box-sizing: border-box;
	background-color: #b32024;
	color:#ffffff;
	outline: none;
}
.contactInputs{
	margin-top: 10px
}
.fa-dot-circle-o{
	font-size: 18px;
}
footer{
	margin-top: 5%;
	margin-bottom:1%;
}
.social{
		width: 70%;
	}
.logo{
	padding-left: 30%;
    width: 70%;
}
#socialIconSet{
	padding-right:8%;
	padding-left: 8%;
	margin-top: 1%;
}
.indicators {
    left: 100px;
    margin-top:200px;
    width: 40px;
    height: auto;
    padding: 0;
    list-style: none;
    z-index: 1;
}
.indicators li {
    line-height: 30px;
}
.indicators a {
    display: block;
    text-align: center;
    text-decoration: none;
}
.indicators span {
    width: 14px;
    height: 14px;
    background: black;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
}
.indicators .active {
    background: orange;
}
.modal-dialog{
	width:450px;
	margin-top: 5.5%;
}
.leadPopContainer{
	height: 420px;
	overflow: hidden;
	border-radius: 10px;
}
.leadContent{
	font-size: 15px;
	padding: 20px;
	text-align: justify;
}
.leadpopName{
	font-size: 18px;
	letter-spacing: 2px;
	font-weight: bold;
	text-align: center;
}
.leadpopsubName{
	text-align: center;
	font-size: 14px;
	letter-spacing: 2px;
}
.transbox{
	background-color: #ffffff;
	opacity: 0.8;
	filter: alpha(opacity=60);
	margin-top: -81px;
	padding: 10px;
}
.leadPopImg{
	margin-top: -70px;
}
.close{
	margin-right: 20px;
	margin-top: 20px;
}
.modal-content{
	border-radius: 10px;
	box-shadow: 2px 4px 18px -2px rgba(18,18,18,0.43) !important;
	border: 0px !important;
}
.imgGif{
		margin-top: 0%;
		width: 100%;
	}

	/*button*/
.box {
  position:relative;
  vertical-align: middle;
  color: #fff;
  background-color: green;
  width:200px;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  transition: 0.5s;
  padding: 0 20px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition:0.5s;
}

.box:hover {
  border: 2px solid rgba(0,160,80,0);
  border-radius: 5px;
  color: green;
  background-color: white;
}

.box::before, .box::after {
  width: 100%;
  height:100%;
  z-index: 3;
  content:'';
  position: absolute;
  top:0;
  left:0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  transition: 0.5s;
}

.btn::before {
  border-bottom: 3px solid green;
  border-left: 3px solid green;
   border-radius: 5px;
  -webkit-transform-origin: 0 100%;
}

.btn::after {
  border-top: 3px solid green;
  border-right: 3px solid green;
   border-radius: 5px;
  -webkit-transform-origin: 100% 0%;
}
.box:hover::after, .box:hover::before {
  -webkit-transform: scale(1);
}

/*mobile screen*/


@media only screen and (min-width : 300px) and (max-width : 399px) {
	nav {
        width: 97%;
	}
	.col-sm-12,.col-sm-6{
		padding-left: 0px;
		padding-right: 0px;
	}
	.portfol{
		width: 100%;
	}
	.prdRowtop{
		margin-top: 0px;
	}
	.sec{
		height: 100%;
	}
	.productName{
		margin-bottom: 15px;
		margin-bottom: 15px;
	}
	.joinRow,.joinRowLeft,.joinRowRight{
		text-align: center;
	}
	#logoG{
		margin-top: -155%;margin-left: 10%;width: 82%;
	}
	#tagLine{
		top: 53%;
		left: 34%;
		font-size: 5px;
	}
	#burrowfet1{
		margin-top: 0px;
	}
	.burrowfet{
		margin-top: 30px;
	}
	#burrowdes{
		height: 60vh;
	}
	#burrowBg{
		height: 30vh;
	}
	#homebg{
		width: 100%;
		overflow-x: hidden;
	}
	#homebgImg{
		width: 900px;
		margin-top: 18vh;
		margin-left: -72%;
	}
	.indicators {
		margin-left:25%;
	}
	.container{
		width: 100%;
		padding-left:35px;
		padding-right:35px;
	}
	.section{
		height:100%;
	}
	.sectionHead{
	  	margin: 0px;
	  	margin-top: 28px;
	  	margin-bottom:28px;
	  	position: relative;
	  	font-size: 20px;
	}
	.section_text{
		font-size: 14px;
		text-align: justify;
	}
	.sectionSubHead{
		font-size: 14px;
		margin-top: 0px;
	}
	.section_text1{
		font-size: 14px;
		text-align: justify;
		margin-top: 5px;
	}
	.leadName {
		margin-top: 10px;
	}
	.joinBtn{
		padding: 10px 25px 10px 25px;
	}
	.joinRow,.joinRowLeft,.joinRowRight{
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.prdRow{
		margin-top: 0px !important;
	}
	#prdCntrl{
		right: 0%;
	}
	#prdList li{
		float: left;
		padding-left: 10px;
		padding-right: 10px;
	}
	.downloadBtn{
		padding-left: 5%;
		padding-right: 5%;
	}
	.dBtnTemp{
		width:40%;
		margin-left: 30%;
	}
	.noMoreRow{
		margin-top: 20px;
	}
	.listBtns{
		margin-top: 20px;
	}
	#contactRow{
		margin-top: 0px;
	}
	#maper{
		padding-right: 0px;
		padding-left: 0px;
	}
	#mapright{
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 20px;
	}
	.mapIcon{
		width:100%;
	}
	#msgSec{
		margin-top: 20px;
	}
	#mail{
		padding-top:0px;
	}
	.logo{
		width:80%;
		padding-left:40px;
	}
	#socialIconSet{
		padding-right:15%;
		padding-left: 15%;
		margin-top: 2%;
	}
	.social{
		width: 70%;
	}
	.modal-dialog{
		width:95%;
		margin-top: 5%;
	}
	.leadPopContainer{
		height: 300px;
		overflow: hidden;
		border-radius: 10px;
	}
	.transbox{
		background-color: #ffffff;
		opacity: 0.8;
		filter: alpha(opacity=60);
		margin-top: -64px;
		padding: 1px;
	}
	#rocketImg1{
		width: 100%;
		margin-left: 0%;
	}
	#rocketImg2{
		width: 30%;
		margin-left:35%;
		margin-top:-80%;
	}
	#rocketImg3{
		width: 100%;
		margin-left:0%;
		margin-top:-50%;
	}
	#rocketImg4{
		width:15%;
		margin-left:0%;
		margin-top:-170%;
	}
	#rocketImg5{
		width:12%;
		margin-left: 90%;
		margin-top:-150%; 
	}
	#rocketImg6{
		width: 15%;
		margin-left:10%;
		margin-top:-125%;
	}
	#rocketImg7{
		width: 12%;
		margin-left: -5%;
		margin-top:-180%;
	}
	#rocketImg8{
		width: 10%;
		margin-left: 32%;
		margin-top:-190%;
	}
	#rocketImg9{
		width: 8%;
		margin-left:66%;
		margin-top:-130%;
	}
	.about{
		margin-top:-70%;
		padding-top: 10%
		background-color:#fff;
	}
	.indicators{
		margin-top: 0px;
		width: 100%;
		padding: 0px
	}
	.indicators li{
		float: left;
		padding-left: 12px;
		padding-right: 12px;
	}
	.prdcls{
		width: 100%;
	}
	.imgGif{
		margin-top: 0%;
		width: 100%;
	}
	.contactInputs{
		margin-left:5px;
		margin-right:5px;
	}
}
@media only screen and (width : 320px){
	#homebgImg{
		width: 800px;
		margin-top: 18vh;
		margin-left: -72%;
	}
}
@media only screen and (width : 375px){
	#homebgImg{
		width: 950px;
		margin-top: 18vh;
		margin-left: -72%;
	}
}
@media only screen and (width : 384px){
	#homebgImg{
		width: 950px;
		margin-top: 18vh;
		margin-left: -72%;
	}
}
@media only screen and (min-width : 400px) and (max-width : 499px) {
	nav {
        width: 97%;
	}
	#link-ham {
    	font-size: 20px;
	}
	.col-sm-12,.col-sm-6{
		padding-left: 0px;
		padding-right: 0px;
	}
	.portfol{
		width: 100%;
	}
	.prdRowtop{
		margin-top: 0px;
	}
	.sec{
		height: 100%;
	}
	.productName{
		margin-bottom: 15px;
		margin-bottom: 15px;
	}
	.joinRow,.joinRowLeft,.joinRowRight{
		text-align: center;
	}
	#logoG{
		margin-top: -155%;margin-left: 10%;width: 82%;
	}
	#tagLine{
		top: 53%;
		left: 34%;
		font-size: 5px;
	}
	#burrowfet1{
		margin-top: 0px;
	}
	.burrowfet{
		margin-top: 30px;
	}
	#burrowdes{
		height: 60vh;
	}
	#burrowBg{
		height: 30vh;
	}
	#homebg{
		width: 100%;
		overflow-x: hidden;
	}
	#homebgImg{
		width: 1080px;
    	margin-top: 18vh;
    	margin-left: -78%;
	}
	.indicators {
		margin-left:25%;
	}
	.container{
		width: 100%;
		padding-left:35px;
		padding-right:35px;
	}
	.section{
		height:100%;
	}
	.sectionHead{
	  	margin: 0px;
	  	margin-top: 28px;
	  	margin-bottom:28px;
	  	position: relative;
	  	font-size: 20px;
	}
	.section_text{
		font-size: 14px;
		text-align: justify;
	}
	.sectionSubHead{
		font-size: 14px;
		margin-top: 0px;
	}
	.section_text1{
		font-size: 14px;
		text-align: justify;
		margin-top: 5px;
	}
	.leadName {
		margin-top: 10px;
	}
	.joinBtn{
		padding: 10px 25px 10px 25px;
	}
	.joinRow,.joinRowLeft,.joinRowRight{
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.prdRow{
		margin-top: 0px !important;
	}
	#prdCntrl{
		right: 0%;
	}
	#prdList li{
		float: left;
		padding-left: 10px;
		padding-right: 10px;
	}
	.downloadBtn{
		padding-left: 5%;
		padding-right: 5%;
	}
	.dBtnTemp{
		width:40%;
		margin-left: 30%;
	}
	.noMoreRow{
		margin-top: 20px;
	}
	.listBtns{
		margin-top: 20px;
	}
	#contactRow{
		margin-top: 0px;
	}
	#maper{
		padding-right: 0px;
		padding-left: 0px;
	}
	#mapright{
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 20px;
	}
	.mapIcon{
		width:100%;
	}
	#msgSec{
		margin-top: 20px;
	}
	#mail{
		padding-top:0px;
	}
	.logo{
		width:80%;
		padding-left:40px;
	}
	#socialIconSet{
		padding-right:15%;
		padding-left: 15%;
		margin-top: 2%;
	}
	.social{
		width: 70%;
	}
	.modal-dialog{
		width:95%;
		margin-top: 5%;
	}
	.leadPopContainer{
		height: 300px;
		overflow: hidden;
		border-radius: 10px;
	}
	.transbox{
		background-color: #ffffff;
		opacity: 0.8;
		filter: alpha(opacity=60);
		margin-top: -64px;
		padding: 1px;
	}
	#rocketImg1{
		width: 100%;
		margin-left: 0%;
	}
	#rocketImg2{
		width: 30%;
		margin-left:35%;
		margin-top:-80%;
	}
	#rocketImg3{
		width: 100%;
		margin-left:0%;
		margin-top:-50%;
	}
	#rocketImg4{
		width:15%;
		margin-left:0%;
		margin-top:-170%;
	}
	#rocketImg5{
		width:12%;
		margin-left: 90%;
		margin-top:-150%; 
	}
	#rocketImg6{
		width: 15%;
		margin-left:10%;
		margin-top:-125%;
	}
	#rocketImg7{
		width: 12%;
		margin-left: -5%;
		margin-top:-180%;
	}
	#rocketImg8{
		width: 10%;
		margin-left: 32%;
		margin-top:-190%;
	}
	#rocketImg9{
		width: 8%;
		margin-left:66%;
		margin-top:-130%;
	}
	.about{
		margin-top:-70%;
		padding-top: 10%
		background-color:#fff;
	}
	.indicators{
		margin-top: 0px;
		width: 100%;
		padding: 0px
	}
	.indicators li{
		float: left;
		padding-left: 12px;
		padding-right: 12px;
	}
	.prdcls{
		width: 100%;
	}
	.imgGif{
		margin-top: 0%;
		width: 100%;
	}
	.contactInputs{
		margin-left:5px;
		margin-right:5px;
	}
}
@media only screen and (min-width : 500px) and (max-width : 599px) {
	nav {
        width: 97%;
	}
	#link-ham {
    	font-size: 20px;
	}
	.col-sm-12,.col-sm-6{
		padding-left: 0px;
		padding-right: 0px;
	}
	.portfol{
		width: 100%;
	}
	.prdRowtop{
		margin-top: 0px;
	}
	.sec{
		height: 100%;
	}
	.productName{
		margin-bottom: 15px;
		margin-bottom: 15px;
	}
	.joinRow,.joinRowLeft,.joinRowRight{
		text-align: center;
	}
	#logoG{
		margin-top: -155%;margin-left: 10%;width: 82%;
	}
	#tagLine{
		top: 53%;
		left: 34%;
		font-size: 5px;
	}
	#burrowfet1{
		margin-top: 0px;
	}
	.burrowfet{
		margin-top: 30px;
	}
	#burrowdes{
		height: 60vh;
	}
	#burrowBg{
		height: 30vh;
	}
	#homebg{
		width: 100%;
		overflow-x: hidden;
	}
	#homebgImg{
		width: 1080px;
    	margin-top: 18vh;
    	margin-left: -78%;
	}
	.indicators {
		margin-left:25%;
	}
	.container{
		width: 100%;
		padding-left:35px;
		padding-right:35px;
	}
	.section{
		height:100%;
	}
	.sectionHead{
	  	margin: 0px;
	  	margin-top: 28px;
	  	margin-bottom:28px;
	  	position: relative;
	  	font-size: 20px;
	}
	.section_text{
		font-size: 14px;
		text-align: justify;
	}
	.sectionSubHead{
		font-size: 14px;
		margin-top: 0px;
	}
	.section_text1{
		font-size: 14px;
		text-align: justify;
		margin-top: 5px;
	}
	.leadName {
		margin-top: 10px;
	}
	.joinBtn{
		padding: 10px 25px 10px 25px;
	}
	.joinRow,.joinRowLeft,.joinRowRight{
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.prdRow{
		margin-top: 0px !important;
	}
	#prdCntrl{
		right: 0%;
	}
	#prdList li{
		float: left;
		padding-left: 10px;
		padding-right: 10px;
	}
	.downloadBtn{
		padding-left: 5%;
		padding-right: 5%;
	}
	.dBtnTemp{
		width:40%;
		margin-left: 30%;
	}
	.noMoreRow{
		margin-top: 20px;
	}
	.listBtns{
		margin-top: 20px;
	}
	#contactRow{
		margin-top: 0px;
	}
	#maper{
		padding-right: 0px;
		padding-left: 0px;
	}
	#mapright{
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 20px;
	}
	.mapIcon{
		width:100%;
	}
	#msgSec{
		margin-top: 20px;
	}
	#mail{
		padding-top:0px;
	}
	.logo{
		width:80%;
		padding-left:40px;
	}
	#socialIconSet{
		padding-right:15%;
		padding-left: 15%;
		margin-top: 2%;
	}
	.social{
		width: 70%;
	}
	.modal-dialog{
		width:95%;
		margin-top: 5%;
	}
	.leadPopContainer{
		height: 300px;
		overflow: hidden;
		border-radius: 10px;
	}
	.transbox{
		background-color: #ffffff;
		opacity: 0.8;
		filter: alpha(opacity=60);
		margin-top: -64px;
		padding: 1px;
	}
	#rocketImg1{
		width: 100%;
		margin-left: 0%;
	}
	#rocketImg2{
		width: 30%;
		margin-left:35%;
		margin-top:-80%;
	}
	#rocketImg3{
		width: 100%;
		margin-left:0%;
		margin-top:-50%;
	}
	#rocketImg4{
		width:15%;
		margin-left:0%;
		margin-top:-170%;
	}
	#rocketImg5{
		width:12%;
		margin-left: 90%;
		margin-top:-150%; 
	}
	#rocketImg6{
		width: 15%;
		margin-left:10%;
		margin-top:-125%;
	}
	#rocketImg7{
		width: 12%;
		margin-left: -5%;
		margin-top:-180%;
	}
	#rocketImg8{
		width: 10%;
		margin-left: 32%;
		margin-top:-190%;
	}
	#rocketImg9{
		width: 8%;
		margin-left:66%;
		margin-top:-130%;
	}
	.about{
		margin-top:-70%;
		padding-top: 10%
		background-color:#fff;
	}
	.indicators{
		margin-top: 0px;
		width: 100%;
		padding: 0px
	}
	.indicators li{
		float: left;
		padding-left: 12px;
		padding-right: 12px;
	}
	.prdcls{
		width: 100%;
	}
	.imgGif{
		margin-top: 0%;
		width: 100%;
	}
	.contactInputs{
		margin-left:5px;
		margin-right:5px;
	}
}
@media only screen and (min-width : 600px) and (max-width : 699px) {
	nav {
        width: 97%;
	}
	#link-ham {
    	font-size: 25px;
	}
	.col-sm-12,.col-sm-6{
		padding-left: 0px;
		padding-right: 0px;
	}
	.portfol{
		width: 100%;
	}
	.prdRowtop{
		margin-top: 0px;
	}
	.sec{
		height: 100%;
	}
	.productName{
		margin-bottom: 15px;
		margin-bottom: 15px;
		font-size: 25px;
	}
	.joinRow,.joinRowLeft,.joinRowRight{
		text-align: center;
	}
	#logoG{
		margin-top: -155%;margin-left: 10%;width: 82%;
	}
	#tagLine{
		top: 53%;
		left: 34%;
		font-size: 5px;
	}
	#burrowfet1{
		margin-top: 0px;
	}
	.burrowfet{
		margin-top: 30px;
	}
	#burrowdes{
		height: 60vh;
	}
	#burrowBg{
		height: 30vh;
	}
	#homebg{
		width: 100%;
		overflow-x: hidden;
	}
	#homebgImg{
		width: 1550px;
    	margin-top: 18vh;
    	margin-left: -76%;
	}
	.indicators {
		margin-left:35%;
	}
	.container{
		width: 100%;
		padding-left:35px;
		padding-right:35px;
	}
	.section{
		height:100%;
	}
	.sectionHead{
	  	margin: 0px;
	  	margin-top: 28px;
	  	margin-bottom:28px;
	  	position: relative;
	  	font-size: 30px;
	}
	.section_text{
		font-size: 20px;
		text-align: justify;
	}
	.sectionSubHead{
		font-size: 22px;
		margin-top: 0px;
	}
	.section_text1{
		font-size: 20px;
		text-align: justify;
		margin-top: 5px;
	}
	.section_text2{
		font-size: 20px;
	}
	.leadName {
		margin-top: 10px;
		font-size: 25px;
	}
	.joinBtn{
		padding: 10px 25px 10px 25px;
	}
	.joinRow,.joinRowLeft,.joinRowRight{
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.prdRow{
		margin-top: 0px !important;
	}
	#prdCntrl{
		right: 0%;
	}
	#prdList li{
		float: left;
		padding-left: 10px;
		padding-right: 10px;
	}
	.downloadBtn{
		padding-left: 5%;
		padding-right: 5%;
	}
	.dBtnTemp{
		width:40%;
		margin-left: 30%;
	}
	.noMoreRow{
		margin-top: 20px;
	}
	.listBtns{
		margin-top: 20px;
	}
	#contactRow{
		margin-top: 0px;
	}
	#maper{
		padding-right: 0px;
		padding-left: 0px;
	}
	#mapright{
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 20px;
	}
	.mapIcon{
		width:100%;
	}
	#msgSec{
		margin-top: 20px;
	}
	#mail{
		padding-top:0px;
	}
	.logo{
		width:80%;
		padding-left:70px;
	}
	#socialIconSet{
		padding-right:15%;
		padding-left: 15%;
		margin-top: 2%;
	}
	.social{
		width: 70%;
	}
	.modal-dialog{
		width:95%;
		margin-top: 5%;
	}
	.leadPopContainer{
		height: 300px;
		overflow: hidden;
		border-radius: 10px;
	}
	.transbox{
		background-color: #ffffff;
		opacity: 0.8;
		filter: alpha(opacity=60);
		margin-top: -64px;
		padding: 1px;
	}
	#rocketImg1{
		width: 100%;
		margin-left: 0%;
	}
	#rocketImg2{
		width: 30%;
		margin-left:35%;
		margin-top:-42%;
	}
	#rocketImg3{
		width: 100%;
		margin-left:0%;
		margin-top:-50%;
	}
	#rocketImg4{
		width:12%;
		margin-left:0%;
		margin-top:-240%;
	}
	#rocketImg5{
		width:10%;
		margin-left: 90%;
		margin-top:-220%; 
	}
	#rocketImg6{
		width: 18%;
		margin-left:10%;
		margin-top:-145%;
	}
	#rocketImg7{
		width: 12%;
		margin-left: -5%;
		margin-top:-220%;
	}
	#rocketImg8{
		width: 10%;
		margin-left: 32%;
		margin-top:-230%;
	}
	#rocketImg9{
		width: 8%;
		margin-left:66%;
		margin-top:-150%;
	}
	.about{
		margin-top:-70%;
		padding-top: 10%
		background-color:#fff;
	}
	.indicators{
		margin-top: 0px;
		width: 100%;
		padding: 0px
	}
	.indicators li{
		float: left;
		padding-left: 12px;
		padding-right: 12px;
	}
	.prdcls{
		width: 100%;
	}
	.imgGif{
		margin-top: 0%;
		width: 100%;
	}
	.contactInputs{
		margin-left:5px;
		margin-right:5px;
	}
}
@media only screen and (min-width : 700px) and (max-width : 799px) {
	.smallScreen{
		width: 100%;
	}
	nav {
        width: 97%;
	}
	#link-ham {
    	font-size: 35px;
	}
	.col-sm-12,.col-sm-6{
		padding-left: 0px;
		padding-right: 0px;
	}
	.leadCol {
    	padding-left: 1%;
    	padding-right: 1%;
	}
	.portfol{
		width: 100%;
	}
	.prdRowtop{
		margin-top: 0px;
	}
	.sec{
		height: 100%;
	}
	.productName{
		margin-bottom: 15px;
		margin-bottom: 15px;
		font-size: 30px;
	}
	.joinRow,.joinRowLeft,.joinRowRight{
		text-align: center;
	}
	#logoG{
		margin-top: -155%;margin-left: 10%;width: 82%;
	}
	#tagLine{
		top: 53%;
		left: 34%;
		font-size: 5px;
	}
	#burrowfet1{
		margin-top: 0px;
	}
	.burrowfet{
		margin-top: 30px;
	}
	#burrowdes{
		height: 60vh;
	}
	#burrowBg{
		height: 30vh;
	}
	#homebg{
		width: 100%;
		overflow-x: hidden;
	}
	#homebgImg{
		width: 1980px;
    	margin-top: 5vh;
    	margin-left: -76%;
	}
	.indicators {
		margin-left:35%;
	}
	.container{
		width: 100%;
		padding-left:35px;
		padding-right:35px;
	}
	.section{
		height:100%;
	}
	.sectionHead{
	  	margin: 0px;
	  	margin-top: 40px;
	  	margin-bottom:40px;
	  	position: relative;
	  	font-size: 40px;
	}
	.section_text{
		font-size: 30px;
		text-align: justify;
	}
	.sectionSubHead{
		font-size: 32px;
		margin-top: 0px;
	}
	.section_text1{
		font-size: 30px;
		text-align: justify;
		margin-top: 5px;
	}
	.section_text2{
		font-size: 30px;
	}
	.leadName {
		margin-top: 10px;
		font-size: 25px;
	}
	.joinBtn{
		padding: 10px 25px 10px 25px;
	}
	.joinRow,.joinRowLeft,.joinRowRight{
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.prdRow{
		margin-top: 0px !important;
	}
	#prdCntrl{
		right: 0%;
	}
	#prdList li{
		float: left;
		padding-left: 10px;
		padding-right: 10px;
	}
	.downloadBtn{
		padding-left: 5%;
		padding-right: 5%;
	}
	.dBtnTemp{
		width:40%;
		margin-left: 30%;
	}
	.noMoreRow{
		margin-top: 20px;
	}
	.listBtns{
		margin-top: 20px;
	}
	#contactRow{
		margin-top: 0px;
	}
	#maper{
		padding-right: 0px;
		padding-left: 0px;
	}
	#mapright{
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 20px;
	}
	.mapIcon{
		width:100%;
	}
	#msgSec{
		margin-top: 20px;
	}
	#mail{
		padding-top:0px;
	}
	.logo{
		width:80%;
		padding-left:70px;
	}
	#socialIconSet{
		padding-right:15%;
		padding-left: 15%;
		margin-top: 2%;
	}
	.social{
		width: 70%;
	}
	.modal-dialog{
		width:95%;
		margin-top: 5%;
	}
	.leadPopContainer{
		height: 300px;
		overflow: hidden;
		border-radius: 10px;
	}
	.transbox{
		background-color: #ffffff;
		opacity: 0.8;
		filter: alpha(opacity=60);
		margin-top: -64px;
		padding: 1px;
	}
	#rocketImg1{
		width: 100%;
		margin-left: 0%;
	}
	#rocketImg2{
		width: 30%;
		margin-left:35%;
		margin-top:-42%;
	}
	#rocketImg3{
		width: 100%;
		margin-left:0%;
		margin-top:-50%;
	}
	#rocketImg4{
		width:12%;
		margin-left:0%;
		margin-top:-240%;
	}
	#rocketImg5{
		width:10%;
		margin-left: 90%;
		margin-top:-220%; 
	}
	#rocketImg6{
		width: 18%;
		margin-left:10%;
		margin-top:-145%;
	}
	#rocketImg7{
		width: 12%;
		margin-left: -5%;
		margin-top:-220%;
	}
	#rocketImg8{
		width: 10%;
		margin-left: 32%;
		margin-top:-230%;
	}
	#rocketImg9{
		width: 8%;
		margin-left:66%;
		margin-top:-150%;
	}
	.about{
		margin-top:-70%;
		padding-top: 10%
		background-color:#fff;
	}
	.indicators{
		margin-top: 0px;
		width: 100%;
		padding: 0px
	}
	.indicators li{
		float: left;
		padding-left: 12px;
		padding-right: 12px;
	}
	.prdcls{
		width: 100%;
	}
	.imgGif{
		margin-top: 0%;
		width: 100%;
	}
	.contactInputs{
		margin-left:5px;
		margin-right:5px;
	}
}
@media only screen and (min-width : 800px) and (max-width : 899px) {
	.smallScreen{
		width: 100%;
	}
	nav {
        width: 97%;
	}
	#link-ham {
    	font-size: 35px;
	}
	.col-sm-12,.col-sm-6{
		padding-left: 0px;
		padding-right: 0px;
	}
	.leadCol {
    	padding-left: 1%;
    	padding-right: 1%;
	}
	.portfol{
		width: 100%;
	}
	.prdRowtop{
		margin-top: 0px;
	}
	.sec{
		height: 100%;
	}
	.productName{
		margin-bottom: 15px;
		margin-bottom: 15px;
		font-size: 30px;
	}
	.joinRow,.joinRowLeft,.joinRowRight{
		text-align: center;
	}
	#logoG{
		margin-top: -155%;margin-left: 10%;width: 82%;
	}
	#tagLine{
		top: 53%;
		left: 34%;
		font-size: 5px;
	}
	#burrowfet1{
		margin-top: 0px;
	}
	.burrowfet{
		margin-top: 30px;
	}
	#burrowdes{
		height: 60vh;
	}
	#burrowBg{
		height: 30vh;
	}
	#homebg{
		width: 100%;
		overflow-x: hidden;
	}
	#homebgImg{
		width: 2070px;
    	margin-top: 11vh;
    	margin-left: -76%;
	}
	.indicators {
		margin-left:35%;
	}
	.container{
		width: 100%;
		padding-left:35px;
		padding-right:35px;
	}
	.section{
		height:100%;
	}
	.sectionHead{
	  	margin: 0px;
	  	margin-top: 40px;
	  	margin-bottom:40px;
	  	position: relative;
	  	font-size: 40px;
	}
	.section_text{
		font-size: 30px;
		text-align: justify;
	}
	.sectionSubHead{
		font-size: 32px;
		margin-top: 0px;
	}
	.section_text1{
		font-size: 30px;
		text-align: justify;
		margin-top: 5px;
	}
	.section_text2{
		font-size: 30px;
	}
	.leadName {
		margin-top: 10px;
		font-size: 25px;
	}
	.joinBtn{
		padding: 10px 25px 10px 25px;
	}
	.joinRow,.joinRowLeft,.joinRowRight{
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.prdRow{
		margin-top: 0px !important;
	}
	#prdCntrl{
		right: 0%;
	}
	#prdList li{
		float: left;
		padding-left: 10px;
		padding-right: 10px;
	}
	.downloadBtn{
		padding-left: 5%;
		padding-right: 5%;
	}
	.dBtnTemp{
		width:40%;
		margin-left: 30%;
	}
	.noMoreRow{
		margin-top: 20px;
	}
	.listBtns{
		margin-top: 20px;
	}
	#contactRow{
		margin-top: 0px;
	}
	#maper{
		padding-right: 0px;
		padding-left: 0px;
	}
	#mapright{
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 20px;
	}
	.mapIcon{
		width:100%;
	}
	#msgSec{
		margin-top: 20px;
	}
	#mail{
		padding-top:0px;
	}
	.logo{
		width:80%;
		padding-left:70px;
	}
	#socialIconSet{
		padding-right:15%;
		padding-left: 15%;
		margin-top: 2%;
	}
	.social{
		width: 70%;
	}
	.modal-dialog{
		width:95%;
		margin-top: 5%;
	}
	.leadPopContainer{
		height: 300px;
		overflow: hidden;
		border-radius: 10px;
	}
	.transbox{
		background-color: #ffffff;
		opacity: 0.8;
		filter: alpha(opacity=60);
		margin-top: -64px;
		padding: 1px;
	}
	#rocketImg1{
		width: 100%;
		margin-left: 0%;
	}
	#rocketImg2{
		width: 30%;
		margin-left:35%;
		margin-top:-42%;
	}
	#rocketImg3{
		width: 100%;
		margin-left:0%;
		margin-top:-50%;
	}
	#rocketImg4{
		width:12%;
		margin-left:0%;
		margin-top:-240%;
	}
	#rocketImg5{
		width:10%;
		margin-left: 90%;
		margin-top:-220%; 
	}
	#rocketImg6{
		width: 18%;
		margin-left:10%;
		margin-top:-145%;
	}
	#rocketImg7{
		width: 12%;
		margin-left: -5%;
		margin-top:-220%;
	}
	#rocketImg8{
		width: 10%;
		margin-left: 32%;
		margin-top:-230%;
	}
	#rocketImg9{
		width: 8%;
		margin-left:66%;
		margin-top:-150%;
	}
	.about{
		margin-top:-70%;
		padding-top: 10%
		background-color:#fff;
	}
	.indicators{
		margin-top: 0px;
		width: 100%;
		padding: 0px
	}
	.indicators li{
		float: left;
		padding-left: 12px;
		padding-right: 12px;
	}
	.prdcls{
		width: 100%;
	}
	.imgGif{
		margin-top: 0%;
		width: 100%;
	}
	.contactInputs{
		margin-left:5px;
		margin-right:5px;
	}
}
@media only screen and (min-width : 900px) and (max-width : 999px) {
	#burrowBg{
		height: 30vh;
	}
	#homebg{
		margin-top: 40vh;
	}
	.container{
		width: 100%;
		padding-left:45px;
		padding-right:45px;
	}
	.section{
		height:100%;
	}
	.sectionHead{
	  	margin: 0px;
	  	margin-top: 40px;
	  	margin-bottom:40px;
	  	position: relative;
	  	font-size: 35px;
	}
	.section_text{
		font-size: 23px;
		text-align: justify;
	}
	.sectionSubHead{
		/*font-size: 23px;*/
		margin-top: 0px;
		margin-bottom:0px;
	}
	.section_text1{
		font-size: 23px;
		text-align: justify;
		margin-top: 10px;
	}
}
@media only screen and (min-width : 1000px) and (max-width : 1199px) {
	#burrowBg{
		height: 30vh;
	}
	#homebg{
		margin-top: 40vh;
	}
	.container{
		width: 100%;
		padding-left:50px;
		padding-right:50px;
	}
	.section{
		height:100%;
	}
	.sectionHead{
	  	margin: 0px;
	  	margin-top: 40px;
	  	margin-bottom:40px;
	  	position: relative;
	  	font-size: 40px;
	}
	.section_text{
		font-size: 25px;
		text-align: justify;
	}
	.sectionSubHead{
		/*font-size: 25px;*/
		margin-top: 0px;
		margin-bottom:0px;
	}
	.section_text1{
		font-size: 25px;
		text-align: justify;
		margin-top: 10px;
	}
}
/*small screen*/
@media only screen and (min-width : 1200px) and (max-width : 1399px) {
	.container{
		width: 950px;
	}
	.sectionHead{
	  	margin: 0px;
	  	margin-top: 30px;
	  	margin-bottom: 30px;
	  	position: relative;
	  	font-size: 25px;
	}
	.section_text{
		font-size: 12px;
	}
	.sectionSubHead{
		font-size: 12px
	}
	.section_text1{
		font-size: 11px;
	}
}
@media only screen and (min-width : 1400px) and (max-width : 1599px) {
	.container{
		width: 1100px;
	}
	.sectionHead{
	  	margin: 0px;
	  	margin-top: 37px;
	  	margin-bottom: 37px;
	  	position: relative;
	  	font-size: 30px;
	}
	.section_text{
		font-size: 14px;
	}
	.sectionSubHead{
		font-size: 14px
	}
	.section_text1{
		font-size: 13px;
	}
	.about{
		margin-top:-26%;
	}
	.prdcls{
		width: 70%;
	}
	.imgGif{
		margin-top: -15%;
		width: 100%;
	}

}
/*current screen*/
@media only screen and (min-width : 1600px) and (max-width : 1700px) {
	.sectionHead{
	  	margin: 0px;
	  	margin-top: 40px;
	  	margin-bottom: 40px;
	  	position: relative;
	  	font-size: 30px;
	}
	.container{
		width: 1170px;
	}
	.about{
		margin-top:-28%;
	}
	.prdcls{
		width: 90%;
	}
	.imgGif{
		margin-top: -5%;
		width: 80%;
	}
}
/*large screen*/
@media only screen and (min-width : 1700px) and (max-width : 1900px) {
	.sectionHead{
	  	margin: 0px;
	  	margin-top: 45px;
	  	margin-bottom: 45px;
	  	position: relative;
	  	font-size: 33px;
	}
	.section_text{
		font-size: 13pt;
	}
	.sectionSubHead{
		font-size: 19px
	}
	.section_text1{
		font-size: 13pt;
	}
	.section_text2{
		font-size: 13pt;
	}
	.container{
		width: 1290px;
	}
	.about{
		margin-top:-28%;
	}
	.prdcls{
		width: 85%;
	}
	.imgGif{
		margin-top: -5%;
		width: 90%;
	}
	#rocketImg2{
		margin-top: -22.5%;
	}
}
@media only screen and (min-width : 1900px) and (max-width : 2100px) {
	.container{
		width: 1390px;
	}
	.sectionHead{
		margin: 0px;
	  	margin-top: 50px;
	  	margin-bottom: 50px;
	  	font-size: 38px;
	}
	#rocketImg2{
		margin-top: -17%;
	}
	.section_text{
		font-size: 15pt;
	}
	.sectionSubHead{
		font-size: 20px
	}
	.section_text1{
		font-size: 15pt;
	}
	.section_text2{
		font-size: 15pt;
	}
	.leadName{
		font-size: 23px;
		margin-top: 6%;
	}
	.modal-dialog{
		width:28%;
		margin-top: 5%;
	}

	.leadpopName{
		font-size: 25px;
		font-weight: bold;
		text-align: center;
	}
	.leadpopsubName{
		font-size: 20px;
	}
	.leadContent{
		font-size: 19px;
		padding: 20px;
		text-align: justify;
	}
	.leadPopContainer{
		height: 480px;
		overflow: hidden;
		border-radius: 10px;
	}

	.transbox{
		background-color: #ffffff;
		opacity: 0.8;
		filter: alpha(opacity=60);
		margin-top: -95px;
		padding: 12px;
	}
	.leadPopImg{
		margin-top: -80px;
	}
	.close{
		margin-right:25px;
		margin-top: 20px;
		font-size: 30px;
	}
	.modal-content{
		border-radius: 10px;
	}

	#rocketImg1{
		background-size: 28%;
	}	
	.about{
		margin-top:-32%;
	}
	.prdcls{
		width: 85%;
	}
	.imgGif{
		margin-top: -5%;
		width: 90%;
	}
}
@media only screen and (min-width :2100px) and (max-width : 2300px) {
	.container{
		width: 1490px;
	}
	#rocketImg2{
		margin-top: -15%;
	}
	#rocketImg3{
		margin-top: -19%;
	}
	.sectionHead{
		margin: 0px;
	  	margin-top: 55px;
	  	margin-bottom: 50px;
	  	font-size: 43px;
	}
	.section_text{
		font-size: 18pt;
	}
	.sectionSubHead{
		font-size: 21px
	}
	.section_text1{
		font-size: 18pt;
	}
	.section_text2{
		font-size: 18pt;
	}

	.leadName{
		font-size: 25px;
		margin-top: 6%;
	}
	.modal-dialog{
		width:28%;
		margin-top: 5%;
	}

	.leadpopName{
		font-size: 25px;
		font-weight: bold;
		text-align: center;
	}
	.leadpopsubName{
		font-size: 20px;
	}
	.leadContent{
		font-size: 19px;
		padding: 20px;
		text-align: justify;
	}
	.leadPopContainer{
		height: 580px;
		overflow: hidden;
		border-radius: 10px;
	}

	.transbox{
		background-color: #ffffff;
		opacity: 0.8;
		filter: alpha(opacity=60);
		margin-top: -95px;
		padding: 12px;
	}
	.leadPopImg{
		margin-top: -100px;
	}
	.close{
		margin-right:25px;
		margin-top: 20px;
		font-size: 30px;
	}
	.modal-content{
		border-radius: 10px;
	}
	#rocketImg1{
		background-size: 28%;
	}
	.about{
		margin-top:-34%;
	}
	.prdcls{
		width: 90%;
	}
	.imgGif{
		margin-top: 0%;
		width: 90%;
	}
}
@media only screen and (min-width :2300px) and (max-width : 2500px) {
	.container{
		width: 1690px;
	}
	.sectionHead{
		margin: 0px;
	  	margin-top: 55px;
	  	margin-bottom: 50px;
	  	font-size: 43px;
	}
	.section_text{
		font-size: 22px;
	}
	.sectionSubHead{
		font-size: 22px
	}
	.section_text1{
		font-size: 21px;
	}

	.leadName{
		font-size: 28px;
		margin-top: 6%;
	}
	.modal-dialog{
		width:28%;
		margin-top: 5%;
	}

	.leadpopName{
		font-size: 30px;
		font-weight: bold;
		text-align: center;
	}
	.leadpopsubName{
		font-size: 25px;
	}
	.leadContent{
		font-size: 25px;
		padding: 30px;
		text-align: justify;
	}
	.leadPopContainer{
		height: 580px;
		overflow: hidden;
		border-radius: 10px;
	}

	.transbox{
		background-color: #ffffff;
		opacity: 0.8;
		filter: alpha(opacity=60);
		margin-top: -105px;
		padding: 12px;
	}
	.leadPopImg{
		margin-top: -150px;
	}
	.close{
		margin-right:35px;
		margin-top: 40px;
		font-size: 45px;
	}
	.modal-content{
		border-radius: 10px;
	}
	.about{
		margin-top:-26%;
	}
	.prdcls{
		width: 70%;
	}
	.imgGif{
		margin-top: -15%;
		width: 100%;
	}
}
@media only screen and (min-width :2500px) and (max-width : 3900px) {
	.container{
		width: 2300px;
	}
	.sectionHead{
		margin: 0px;
	  	margin-top: 65px;
	  	margin-bottom: 65px;
	  	font-size: 55px;
	}
	.section_text{
		font-size: 28px;
	}
	.sectionSubHead{
		font-size: 28px
	}
	.section_text1{
		font-size: 27px;
	}



	.leadName{
		font-size: 35px;
		margin-top: 6%;
	}
	.modal-dialog{
		width:28%;
		margin-top: 8%;
	}

	.leadpopName{
		font-size: 35px;
		font-weight: bold;
		text-align: center;
	}
	.leadpopsubName{
		font-size: 30px;
	}
	.leadContent{
		font-size: 30px;
		padding: 40px;
		text-align: justify;
	}
	.leadPopContainer{
		height: 720px;
		overflow: hidden;
		border-radius: 10px;
	}

	.transbox{
		background-color: #ffffff;
		opacity: 0.8;
		filter: alpha(opacity=60);
		margin-top: -175px;
		padding: 50px;
	}
	.leadPopImg{
		margin-top: -150px;
	}
	.close{
		margin-right:40px;
		margin-top: 40px;
		font-size: 45px;
	}
	.modal-content{
		border-radius: 10px;
	}
}
@media only screen and (min-width :3900px) and (max-width : 5000px) {
	.container{
		width: 3500px;
	}
	.sectionHead{
		margin: 0px;
	  	margin-top: 80px;
	  	margin-bottom: 80px;
	  	font-size: 85px;
	}
	.section_text{
		font-size: 45px;
	}
	.sectionSubHead{
		font-size: 45px
	}
	.section_text1{
		font-size: 43px;
	}
	.leadName{
		font-size: 60px;
		margin-top: 6%;
	}
	.modal-dialog{
		width:28%;
		margin-top: 8%;
	}

	.leadpopName{
		font-size: 60px;
		font-weight: bold;
		text-align: center;
	}
	.leadpopsubName{
		font-size: 50px;
	}
	.leadContent{
		font-size: 45px;
		padding: 90px;
		text-align: justify;
	}
	.leadPopContainer{
		height: 920px;
		overflow: hidden;
		border-radius: 10px;
	}

	.transbox{
		background-color: #ffffff;
		opacity: 0.8;
		filter: alpha(opacity=60);
		margin-top: -235px;
		padding: 50px;
	}
	.leadPopImg{
		margin-top: -300px;
	}
	.close{
		margin-right:80px;
		margin-top: 80px;
		font-size: 85px;
	}
	.modal-content{
		border-radius: 60px;
	}
}
@media only screen and (min-width :5000px) and (max-width : 7000px) {
	.container{
		width: 4700px;
	}
	.sectionHead{
		margin: 0px;
	  	margin-top: 100px;
	  	margin-bottom: 100px;
	  	font-size: 120px;
	}
	.section_text{
		font-size: 60px;
	}
	.sectionSubHead{
		font-size: 60px;
	}
	.section_text1{
		font-size: 55px;
	}


	.modal-dialog{
		width:25%;
		margin-top: 10%;
	}
	.leadName{
		font-size: 65px;
	}
	.leadpopName{
		font-size: 70px;
		font-weight: bold;
		text-align: center;
	}
	.leadpopsubName{
		font-size: 60px;
	}
	.leadContent{
		font-size: 55px;
		padding: 120px;
		text-align: justify;
	}
	.leadPopContainer{
		height: 1120px;
		overflow: hidden;
		border-radius: 10px;
	}

	.transbox{
		background-color: #ffffff;
		opacity: 0.8;
		filter: alpha(opacity=60);
		margin-top: -235px;
		padding: 50px;
	}
	.leadPopImg{
		margin-top: -300px;
	}
	.close{
		margin-right:80px;
		margin-top: 80px;
		font-size: 85px;
	}
	.modal-content{
		border-radius: 50px;
	}
}

/*orientation landscape*/
@media (min-width: 400px) and (max-width : 799px) and (orientation: landscape) {
	#homebgImg{
		width:100%;
		margin-top: 20vh;
		margin-left: 0%;
	}
	#logoG {
		margin-left: 32%;
		margin-top: -65%;
		width: 32%;
	}
}



