@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900");
@font-face { font-family: 'SEGOEUI'; src: url('fonts/segoe-ui/SEGOEUI.TTF'); } 
@font-face { font-family: 'SEGOEUI'; font-weight: bold; src: url('fonts/segoe-ui/SEGOEUI.TTF');}

body{
	margin: 0 auto;
	font-family: 'Montserrat';
	font-weight: 400;
	/*font-family: 'Roboto', sans-serif;*/
	/*font-family: 'Open Sans', sans-serif;*/
}
section{
	padding: 3% 0% 3% 0%;
}

.primary-color{
	color:#a22024;
}
.secondary-color{
	color: #95989a;
}
h1{
	font-family: 'SEGOEUI';
  	  font-size: 36px;
  	font-weight: 400;
}
hr{
	width: 20%;
	border-image: url(../img/line.png) 1 fill round;
	margin: 0 auto;
}

h2{
	font-size: 30px;
    line-height: 32px;
    font-weight: 300;
    color: #303638;
    margin: 0 0 28px;
}
h3{
	font-size: 16px;
	line-height: 30px;
	color: #727e85;
	font-weight: 200;
}
.text-center{
	text-align: center;
}
.letter-spacing-4x{
	letter-spacing: 4px;
}
.letter-spacing-2x{
	letter-spacing: 2px;
}
.line-space-2x{
	line-height: 28px;
}
.text-justify{
	text-align: justify;
}
.margin-up-3{
	margin-top: -3%;
}
.margin-up-1{
	margin-top: -0.5%;
}
.product-img{
	width:100%;
}
.indicators{
	text-align:center;
    margin-bottom: 5%;
    padding-left: 0px;
}
.indicators li{
	list-style: none;
	display:inline-block;
	padding: 0% 2.2% 0% 2.2%;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.capitalize{
	text-transform: capitalize;
}
.full-width{
	background-color: #f5f5f5;
}
.margin-top5{
	margin-top: 5%;
}

.gif-left{

	background-image: linear-gradient(to  right, #fff, #f5f5f5);

}

.gif-right{
	background: #fff9f9; /* Old browsers */
	background: -moz-linear-gradient(left, #fff9f9 44%, #fc8888 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #fff9f9 44%,#fc8888 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #fff9f9 44%,#fc8888 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff9f9', endColorstr='#fc8888',GradientType=1 ); /* IE6-9 */
}











