<div class="container">
<section class="margin-top5 text-center">
		<h1 class="text-center primary-color letter-spacing-4x">WHO WE ARE</h1>
		<hr/>
	
	<h3 class="text-center line-space-2x secondary-color margin-top5">We are not just another company specialising in creative media and technology, but, a team devising and putting creative solutions into motion with design and technology as its forte. We know what you need to take your brand to the next level, and help you achieve the goal beyond set possibilities. Our deep understanding of the requirements in today’s market adds tremendous value to every step of the process.</h3>
	<div id="rockt">
		<img src="img/rocket_img.png"  id="rocketImg1">
		<img src="img/logo/6.png" data-scroll-speed="2" id="rocketImg2">
		<img src="img/logo/7.png" data-scroll-speed="4" id="rocketImg3">
		<img src="img/logo/3.png" data-scroll-speed="1" id="rocketImg4">
		<img src="img/logo/8.png" data-scroll-speed="3" id="rocketImg5">
		<img src="img/logo/5.png" data-scroll-speed="2" id="rocketImg6"> 
	</div>
	<div id="rockt-mob" class="margin-top5">
		<img src="img/rocket_img1.png" class="rocket-img">
	</div>

	<h3 class="text-center secondary-color letter-spacing-2x margin-up-3">We Recognize</h3>
	<h3 class="text-center line-space-2x secondary-color margin-up-1">that the key to customer satisfaction and long-term success depends on the ability to anticipate customer needs. We develop flexible, innovative and creative solutions that provide our customers with a distinct competitive edge. Each step we take for you has equal amount of dedication and hard work put in. We have woven our dreams into a vision. A vision, of a company with creations that bring about change. We endeavour to deliver! But, not just deliver, we strive for perfection and immerse ourselves deep into the work we perform.</h3>
</section>
</div>




<script>
	$.fn.moveIt = function(){
	  	var $window = $(window);
	  	var instances = [];
	  
	  	$(this).each(function(){
	    	instances.push(new moveItItem($(this)));
	  	});
	  
	  	window.onscroll = function(){
	    	var scrollTop = $window.scrollTop();
		    instances.forEach(function(inst){
		      	inst.update(scrollTop - 700);
		    });
	  	}
	}

	var moveItItem = function(el){
	  this.el = $(el);
	  this.speed = parseInt(this.el.attr('data-scroll-speed'));
	};

	moveItItem.prototype.update = function(scrollTop){
	  this.el.css('transform', 'translateY(' + -(scrollTop / this.speed) + 'px)');
	};

	$(function(){
	  $('[data-scroll-speed]').moveIt();
	});
</script>

