<div class="container">
<section class="margin-top5">
		<h1 class="text-center primary-color letter-spacing-4x " >WHO WE ARE</h1>
		<hr/>
	
	<h3 class="text-center line-space-2x secondary-color margin-top5">Not just another company specialising in creative media and IT, but, a team devising and putting creative solutions into motion with design and technology as its forte. We know what you need to take your brand to the next level, and help you achieve the goal beyond set possibilities. Our deep understanding of the requirements in today’s market adds tremendous value to every step of the process.</h3>
	<!-- <div>
		<img src="img/logo/1.png" data-scroll-speed="5" id="rocketImg1">
		<img src="img/logo/3.png" data-scroll-speed="1" id="rocketImg2">
		<img src="img/logo/2.png" data-scroll-speed="3" id="rocketImg3">
		<img src="img/logo/4.png" data-scroll-speed="6" id="rocketImg4">
		<img src="img/logo/5.png" data-scroll-speed="8" id="rocketImg5">
		<img src="img/logo/6.png" data-scroll-speed="2" id="rocketImg6">
		<img src="img/logo/7.png" data-scroll-speed="4" id="rocketImg7">
		<img src="img/logo/8.png" data-scroll-speed="3" id="rocketImg8">
		<img src="img/logo/5.png" data-scroll-speed="2" id="rocketImg9">
	</div> -->
	<img src="img/rocket_img.png" class="rocket-img" width="40%" style="margin-left: 29%">
	<h3 class="text-center secondary-color letter-spacing-2x margin-up-3">We Recognize</h3>
	<h3 class="text-center line-space-2x secondary-color margin-up-1">that the key to customer satisfaction and our long-term success depends on our ability to anticipate customer needs and develop flexible, innovative and creative solutions that provide our customers with a distinct competitive edge. Each step we take for you has equal amount of dedication and hard work put in. We have woven our dreams into a vision. A vision of a company with creations that bring about change. We endeavour to deliver! But, not just deliver, we strive for perfection and immerse ourselves deep into the work we perform.</h3>
</section>
</div>

