<nav-directive></nav-directive>
<div class="container width-50x">
	<section class="margin-top5">
    	<h1 class="text-left primary-color letter-spacing-4x">Animator</h1>
    	<h3 class="line-space-2x secondary-color text-left ">We are looking for a creative Animator to develop excellent visual frames with 2D/3D or other techniques. Your work will give life to storylines and characters in films, games or videos.Animators possess a creative eye and artistic aptitude. They can easily turn a script or a concept into an impressive computer-generated animation. To excel in this role, you must be highly skilled in CGI software and storytelling.
 </h3>
   	</section>
</div>
<div class="full-width bk-clr-fff" id="foo">
	<div class="back-career">
		<div class="container line-height-50x width-50x">
			<div class="col-sm-6 col-xs-12 CareersNav-center">
				<a ui-sref="jobs"><span>Back to Careers</span></a>
			</div>
			<div class="col-sm-6 col-xs-12">
				<div class="CareersNav-right">
          			<a target="_blank" href="#" class="Button Button--primary" data-career-apply-link="">Apply Now</a>
        		</div>
			</div>
		</div>
	</div>
</div>
<div class="container width-50x">
	<section class="margin-top5">
    	<h2 class="text-left  letter-spacing-4x padding-top-10x">Responsibilities </h2>
    	<ul class="padding-left-20x">
    		<li><h3 class="line-space-2x secondary-color text-left ">Read scripts and storylines to understand animation requirements</h3></li>
    		<li><h3 class="line-space-2x secondary-color text-left ">Prepare presentations with raw designs to customers</h3></li>
    		<li><h3 class="line-space-2x secondary-color text-left ">Develop storyboards for the initial stages of production</h3></li>
    		<li><h3 class="line-space-2x secondary-color text-left ">Create models, drawings and illustrations by hand or electronically</h3></li>
    		<li><h3 class="line-space-2x secondary-color text-left ">Join images with background graphics and special effects</h3></li>
    		<li><h3 class="line-space-2x secondary-color text-left ">Ensure synchronization of frames and audio</h3></li>
    		<li><h3 class="line-space-2x secondary-color text-left ">Participate in editing process</h3></li>
            <li><h3 class="line-space-2x secondary-color text-left ">Direct the work of animation assistants</h3></li>
            <li><h3 class="line-space-2x secondary-color text-left ">Collaborate with production crew (designers, directors etc.)</h3></li>
            

    	</ul>
    	<h2 class="text-left  letter-spacing-4x padding-top-10x">Requirements</h2>
    	<ul class="padding-left-20x">
    		<li><h3 class="line-space-2x secondary-color text-left ">Proven experience as animator</h3></li>
    		<li><h3 class="line-space-2x secondary-color text-left ">Knowledge of 2D/3D, stop motion and computer-generated animation</h3></li>
    		<li><h3 class="line-space-2x secondary-color text-left ">Experience in project management</h3>
    		</li>
    		<li><h3 class="line-space-2x secondary-color text-left ">Proficient in CGI software (Photoshop, 3ds Max, Maya etc.)</h3></li>
    		<li><h3 class="line-space-2x secondary-color text-left ">A creative storyteller with presentation abilities</h3></li>
    		<li><h3 class="line-space-2x secondary-color text-left ">Comfortable working with deadlines and budget restrictions</h3></li>
    		<li><h3 class="line-space-2x secondary-color text-left ">Teamwork and excellent communication skills</h3></li>
            <li><h3 class="line-space-2x secondary-color text-left ">Degree in computer animation, 3D/graphic design, fine arts or relevant field</h3></li>
    	</ul>

    	<a target="_blank" href="#" class="Button Button--primary Button--fullWidth margin-top5 margin-bottom2" data-career-apply-link="">Apply Now</a>
   	</section>
</div>

<footer-directive></footer-directive>


<script>



    var navTop = $('#foo').offset().top;
    $(window).scroll(function(){
        if ($(this).scrollTop() >= navTop) {
            $('#foo').css('position', 'fixed');
            $('#foo').css('top', '0');
            $('#foo').css('width', '100%');
        } else {
            $('#foo').css('position', 'relative');
        }
    });



</script>