
	<div class="container">
		<section class="section">
			<div class="row">
				<div id="burrowBg">
    				<h2 class="sectionHead text_primary">OUR PRODUCTS</h2>
    			</div>
			</div>
		</section>
		<section class="section">
			<h1 style="font-weight: 700" class="sectionHead">Need assistance?</h1>
			<p class="section_text text_secondry">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.and going through the cites of the word in classical literature, discovered the undoubtable source</p>
			<div id="burrowdes">
    			<div class="row">
    				<div class="col-sm-6 col-xs-12">
    					<img src="img/burrow/rent overview.png" style="width: 75%;margin-left: 10%">
    				</div>
    				<div class="col-sm-6 col-xs-12">
	  					<p id="burrowfet1">
	  						<div class="row">
	  							<div class="col-sm-1 col-xs-2">
	  								<i class="fa fa-circle" aria-hidden="true" style="font-size: 12px"></i>
	  							</div>
	  							<div class="col-sm-11 col-xs-10">
	  								<span style="font-weight: 700;font-size: 15px">Handiman Services</span>
	  								<p>Handiman Services</p>
	  							</div>
	  						</div>
	  					</p>
	  					<p class="burrowfet1">
	  						<div class="row">
	  							<div class="col-sm-1 col-xs-2">
	  								<i class="fa fa-dot-circle-o" aria-hidden="true" style="font-size: 12px"></i>
	  							</div>
	  							<div class="col-sm-11 col-xs-10">
	  								<span style="font-weight: 700;font-size: 15px">Rent Overview</span>
	  								<p>Have no doubts about your payment history</p>
	  							</div>
	  						</div>
	  					</p>
	  					<p class="burrowfet1">
	  						<div class="row">
	  							<div class="col-sm-1 col-xs-2">
	  								<i class="fa fa-circle" aria-hidden="true" style="font-size: 12px"></i>
	  							</div>
	  							<div class="col-sm-11 col-xs-10">
	  								<span style="font-weight: 700;font-size: 15px">Instant Notification</span>
	  								<p>Anytime, Anywhere. stay Updated</p>
	  							</div>
	  						</div>
	  					</p>
	  					<p class="burrowfet1">
	  						<div class="row">
	  							<div class="col-sm-1 col-xs-2">
	  								<i class="fa fa-circle" aria-hidden="true" style="font-size: 12px"></i>
	  							</div>
	  							<div class="col-sm-11 col-xs-10">
	  								<span style="font-weight: 700;font-size: 15px">Manage Multiple Properties</span>
	  								<p>All your properties on your fingertips</p>
	  							</div>
	  						</div>
	  					</p>
	  					<p class="burrowfet1">
	  						<div class="row">
	  							<div class="col-sm-1 col-xs-2">
	  								<i class="fa fa-circle" aria-hidden="true" style="font-size: 12px"></i>
	  							</div>
	  							<div class="col-sm-11 col-xs-10">
	  								<span style="font-weight: 700;font-size: 15px">Explore and Discover</span>
	  								<p>Locate relevant stores and services nearby</p>
	  							</div>
	  						</div>
	  					</p>
	  					<p class="burrowfet1">
	  						<div class="row">
	  							<div class="col-sm-1 col-xs-2">
	  								<i class="fa fa-circle" aria-hidden="true" style="font-size: 12px"></i>
	  							</div>
	  							<div class="col-sm-11 col-xs-10">
	  								<span style="font-weight: 700;font-size: 15px">Search and Add</span>
	  								<p>Search and add owners and tenants with ease</p>
	  							</div>
	  						</div>
	  					</p>
    				</div>
    			</div>
    		</div>
		</section>
		
	</div>
