<div ng-show="loader" class="loader">
    <img src="img/loader.gif" class="loader-img">
</div>
<div ng-hide="loader">
    <nav-directive></nav-directive>
    <burrow-directive></burrow-directive>
    	<div class="container">
    		<h1 class="text-center primary-color letter-spacing-4x margin-top5">NEED ASSISTANCE</h1>
    		<hr/>
    		<h3 class="text-center line-space-2x secondary-color margin-top5">Burrow aspires to simplify household problems, provide a better standard of living and solve the problem for landlords and tenants, making Burrow a unified ecosystem. Burrow lets you address the issues effectively and provides hassle free options for landlords to manage multiple buildings, track payments etc. under one roof, which saves time and manual effort; leading to happy tenants. </h3>
    		<div class="row margin-top5">
                <div class="col-md-6" style="z-index: 999999;">
                    <div class="prhide" id="prd1">
                        <img src="img/burrow/handyman.png" style="width: 86%;">
                    </div>
                    <div class="prhide" id="prd2">
                        <img src="img/burrow/rent.png" style="width: 86%;">
                    </div>
                    <div class="prhide" id="prd3">
                        <img src="img/burrow/notification.png" style="width: 86%;">
                    </div>
                    <div class="prhide" id="prd4">
                        <img src="img/burrow/multiple.png" style="width: 86%;">
                    </div>
                    <div class="prhide" id="prd5">
                        <img src="img/burrow/discover.png" style="width: 86%;">
                    </div>
                    <div class="prhide" id="prd6">
                        <img src="img/burrow/search.png" style="width: 86%;">
                    </div>
                    
                </div>
                <div class="col-md-6" style="z-index: 999999;">
                    <div class="row margin-top4">
                        <div class="col-md-1 col-xs-2">
                            <h3 class="secondary-color margin-0 pr-links" rel="prd1" ><i class="fa fa-circle" id="icon1" aria-hidden="true"></i></h3>
                        </div>
                        <div class="col-md-11 col-xs-10">
                            <h3 class="text-left line-space-2x secondary-color margin-0">Handiman Services</h3>
                            <h3 class="text-left line-space-2x secondary-color margin-0">Handiman Services</h3>
                        </div>
                    </div>
                    <div class="row margin-top4">
                        <div class="col-md-1 col-xs-2">
                            <h3 class="secondary-color margin-0 pr-links" rel="prd2"><i class="fa fa-circle" id="icon2" aria-hidden="true" ></i></h3>
                        </div>
                        <div class="col-md-11 col-xs-10">
                            <h3 class="text-left line-space-2x secondary-color margin-0">Rent Overview</h3>
                            <h3 class="text-left line-space-2x secondary-color margin-0">Have no doubts about your payment history</h3>
                        </div>
                    </div>
                    <div class="row margin-top4">
                        <div class="col-md-1 col-xs-2">
                            <h3 class="secondary-color margin-0 pr-links" rel="prd3"><i class="fa fa-circle" id="icon3" aria-hidden="true" ></i></h3>
                        </div>
                        <div class="col-md-11 col-xs-10">
                            <h3 class="text-left line-space-2x secondary-color margin-0">Instant Notification </h3>
                            <h3 class="text-left line-space-2x secondary-color margin-0">Anytime, Anywhere. stay Updated</h3>
                        </div>
                    </div>
                    <div class="row margin-top4">
                        <div class="col-md-1 col-xs-2">
                            <h3 class="secondary-color margin-0 pr-links" rel="prd4"><i class="fa fa-circle" id="icon4" aria-hidden="true" ></i></h3>
                        </div>
                        <div class="col-md-11 col-xs-10">
                            <h3 class="text-left line-space-2x secondary-color margin-0">Manage Multiple Properties</h3>
                            <h3 class="text-left line-space-2x secondary-color margin-0">All your properties on your fingertips</h3>
                        </div>
                    </div>
                    <div class="row margin-top4">
                        <div class="col-md-1 col-xs-2">
                            <h3 class="secondary-color margin-0 pr-links" rel="prd5"><i class="fa fa-circle" id="icon5" aria-hidden="true" ></i></h3>
                        </div>
                        <div class="col-md-11 col-xs-10">
                            <h3 class="text-left line-space-2x secondary-color margin-0">Explore and Discover</h3>
                            <h3 class="text-left line-space-2x secondary-color margin-0">Locate relevant stores and services nearby</h3>
                        </div>
                    </div>
                    <div class="row margin-top4">
                        <div class="col-md-1 col-xs-2">
                            <h3 class="secondary-color margin-0 pr-links" rel="prd6"><i class="fa fa-circle" id="icon6" aria-hidden="true" ></i></h3>
                        </div>
                        <div class="col-md-11 col-xs-10">
                            <h3 class="text-left line-space-2x secondary-color margin-0">Search and Add</h3>
                            <h3 class="text-left line-space-2x secondary-color margin-0">Search and add owners and tenants with ease</h3>
                        </div>
                    </div>
                </div>
            </div>
    	</div>
    	<div class="full-width" style="background-color: #fff;height: 0px">
    		<img src="img/burrow/rent-bk.jpg" class="product-bg-img" width="100%">
    	</div>
    <footer-directive></footer-directive>
</div>
<script>
    $('.pr-links').on('click', function(){
        var target = $(this).attr('rel');
        $("#"+target).show().siblings(".prhide").hide();
        var icon = $(this).children(".fa").attr("id");
        $(".fa" ).removeClass( "fa-dot-circle-o" );
        $("#"+icon).addClass( "fa-dot-circle-o" );
    });

    $(document).ready(function(){
        $(".prhide").hide();
        $("#prd1").show();
        $('#icon1').addClass( "fa-dot-circle-o" );
    });
</script>





