<style type="text/css">
	#homebgImg {
        width: 100%;
        margin-top: 4%;
    }
</style>
<div style="height: 100vh;">
    <div id="homebg">
        <img src="img/burrow/1.png" id="homebgImg" >
    </div>
	<div class="container">
		<h1 class="text-center primary-color letter-spacing-4x">NEED ASSISTANCE</h1>
		<hr/>
		<h3 class="text-center line-space-2x secondary-color margin-top5">Not just another company specialising in creative media and IT, but, a team devising and putting creative solutions into motion with design and technology as its forte. We know what you need to take your brand to the next level, and help you achieve the goal beyond set possibilities. Our deep understanding of the requirements in today’s market adds tremendous value to every step of the process.</h3>
		<div class="row margin-top5">
			<div class="col-md-6">
				<img src="img/burrow/handyman.png" style="width: 86%;">
			</div>
			<div class="col-md-6">
				<div class="row margin-top4">
					<div class="col-md-1">
						<h3 class="secondary-color margin-0"><i class="fa fa-circle" aria-hidden="true"></i></h3>
					</div>
					<div class="col-md-11">
						<h3 class="text-left line-space-2x secondary-color margin-0">Handiman Services</h3>
						<h3 class="text-left line-space-2x secondary-color margin-0">Handiman Services</h3>
					</div>
				</div>
				<div class="row margin-top4">
					<div class="col-md-1">
						<h3 class="secondary-color margin-0"><i class="fa fa-dot-circle-o" aria-hidden="true" ></i></h3>
					</div>
					<div class="col-md-11">
						<h3 class="text-left line-space-2x secondary-color margin-0">Rent Overview</h3>
						<h3 class="text-left line-space-2x secondary-color margin-0">Have no doubts about your payment history</h3>
					</div>
				</div>
				<div class="row margin-top4">
					<div class="col-md-1">
						<h3 class="secondary-color margin-0"><i class="fa fa-circle" aria-hidden="true" ></i></h3>
					</div>
					<div class="col-md-11">
						<h3 class="text-left line-space-2x secondary-color margin-0">Instant Notification </h3>
						<h3 class="text-left line-space-2x secondary-color margin-0">Anytime, Anywhere. stay Updated</h3>
					</div>
				</div>
				<div class="row margin-top4">
					<div class="col-md-1">
						<h3 class="secondary-color margin-0"><i class="fa fa-circle" aria-hidden="true" ></i></h3>
					</div>
					<div class="col-md-11">
						<h3 class="text-left line-space-2x secondary-color margin-0">Manage Multiple Properties</h3>
						<h3 class="text-left line-space-2x secondary-color margin-0">All your properties on your fingertips</h3>
					</div>
				</div>
				<div class="row margin-top4">
					<div class="col-md-1">
						<h3 class="secondary-color margin-0"><i class="fa fa-circle" aria-hidden="true" ></i></h3>
					</div>
					<div class="col-md-11">
						<h3 class="text-left line-space-2x secondary-color margin-0">Explore and Discover</h3>
						<h3 class="text-left line-space-2x secondary-color margin-0">Locate relevant stores and services nearby</h3>
					</div>
				</div>
				<div class="row margin-top4">
					<div class="col-md-1">
						<h3 class="secondary-color margin-0"><i class="fa fa-circle" aria-hidden="true" ></i></h3>
					</div>
					<div class="col-md-11">
						<h3 class="text-left line-space-2x secondary-color margin-0">Search and Add</h3>
						<h3 class="text-left line-space-2x secondary-color margin-0">Search and add owners and tenants with ease</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="full-width" style="background-color: #fff;height: 0px">
		<img src="img/burrow/rent.png" width="100%" style="margin-top: -30%;" >
	</div>
	<footer-directive></footer-directive>
</div>





