<!-- background-attachment: fixed; -->
<div >
	<!-- <div style="height: 95vh;width: 100%;background-image: url('./img/career.png');background-repeat: no-repeat;background-size:80% 80%;background-position: 50% 80%;  "> -->
	    <h2 class="sectionHead text_primary" style="margin-top: 0px;padding-top:20px">CARRERS</h2>
	    <img src="./img/career.png" style="width:80%;margin-left: 10%">
	<!-- </div> -->
	<div class="container">
		<section class="section">
			<div class="row">
				<h2 class="sectionHead text_primary post">WE ARE HIRING</h2>
			</div>
	    	<div id="designer" class="col-sm-12 col-xs-12 " style="width: 100%;margin-top: 3%">
				<div class="col-sm-6 col-xs-12 ">
					<img src="img/career/desiner.png" class="center-block" width="50%">
				</div>
				<div class="col-sm-6  col-xs-12  " style="padding-left: 0px;padding-right: 0px;text-align: justify;">
					<h4 class="productName text_primary ">CREATIVE DESIGNER</h4>
					<p class="section_text2" style="margin-top:10px">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
					<p class="section_text2"> Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
					<div class="row joinRowLeft">
						<div class='box btn'>APPLY</div>
					</div>
				</div>
			</div>

			<div id="videoEditor" class="col-sm-12 col-xs-12 " style="width: 100%;margin-top: 8%;text-align: justify;">
				<div class="col-sm-6 col-md-push-6 col-xs-12 ">
					<img src="img/career/video.png" class="center-block" width="50%">
				</div>
				<div class="col-sm-6 col-md-pull-6  col-xs-12  " style="padding-left: 0px;padding-right: 0px">
					<h4 class="productName text_primary ">VIDEO EDITOR</h4>
					<p class="section_text2" style="margin-top:10px">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
					<p class="section_text2"> Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
					<div class="row joinRowRight">
						<div class='box btn'>APPLY</div>
					</div>
				</div>
			</div>

			<div id="developer" class="col-sm-12 col-xs-12 " style="width: 100%;margin-top: 8%;text-align: justify;">
				<div class="col-sm-6 col-xs-12 ">
					<img src="img/career/developer.png" class="center-block" width="50%">
				</div>
				<div class="col-sm-6  col-xs-12  " style="padding-left: 0px;padding-right: 0px">
					<h4 class="productName text_primary ">DEVELOPER</h4>
					<p class="section_text2" style="margin-top:10px">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
					<p class="section_text2"> Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
					<div class="row joinRowLeft">
						<div class='box btn'>APPLY</div>
					</div>
				</div>
			</div>

			<div id="contentWriter" class="col-sm-12 col-xs-12 " style="width: 100%;margin-top: 8%;text-align: justify;">
				<div class="col-sm-6 col-md-push-6 col-xs-12 ">
					<img src="img/career/content.png" class="center-block" width="50%">
				</div>
				<div class="col-sm-6 col-md-pull-6  col-xs-12  " style="padding-left: 0px;padding-right: 0px">
					<h4 class="productName text_primary ">CONTENT WRITER</h4>
					<p class="section_text2" style="margin-top:10px">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
					<p class="section_text2"> Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
					<div class="row joinRowRight">
						<div class='box btn'>APPLY</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
<footer-directive></footer-directive>
