<div class="container">
    <section>
        <h1 class="text-center primary-color letter-spacing-4x">OUR CLIENTS</h1>
        <hr/>
        <div class="row margin-top5">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="tg-brands">
                    <li class="tg-brand"><figure><a href="javascript:void(0);"><img src="img/clients/c-01.png" alt="image description" class="client-img"></a></figure></li>
                    <li class="tg-brand"><figure><a href="javascript:void(0);"><img src="img/clients/c-02.png" alt="image description" class="client-img"></a></figure></li>
                    <li class="tg-brand"><figure><a href="javascript:void(0);"><img src="img/clients/c-03.png" alt="image description" class="client-img"></a></figure></li>
                    <li class="tg-brand"><figure><a href="javascript:void(0);"><img src="img/clients/c-04.png" alt="image description" class="client-img"></a></figure></li>
                    <li class="tg-brand"><figure><a href="javascript:void(0);"><img src="img/clients/c-05.png" alt="image description" class="client-img"></a></figure></li>
                    <li class="tg-brand"><figure><a href="javascript:void(0);"><img src="img/clients/c-06.png" alt="image description" class="client-img"></a></figure></li>
                    <li class="tg-brand"><figure><a href="javascript:void(0);"><img src="img/clients/c-07.png" alt="image description" class="client-img"></a></figure></li>
                    <li class="tg-brand"><figure><a href="javascript:void(0);"><img src="img/clients/c-08.png" alt="image description" class="client-img"></a></figure></li>
                    <!--  <li class="tg-brand"><figure><a href="javascript:void(0);"><img src="img/clients/c-09.png" alt="image description" class="client-img"></a></figure></li>
                    <li class="tg-brand"><figure><a href="javascript:void(0);"><img src="img/clients/c-10.png" alt="image description" class="client-img"></a></figure></li>
                    <li class="tg-brand"><figure><a href="javascript:void(0);"><img src="img/clients/c-11.png" alt="image description" class="client-img"></a></figure></li>
                    <li class="tg-brand"><figure><a href="javascript:void(0);"><img src="img/clients/c-12.png" alt="image description" class="client-img"></a></figure></li> -->
                </ul>
            </div>
        </div>
    </section>
</div>