<nav-directive></nav-directive>
<div class="container width-50x">
	<section class="margin-top5">
    	<h1 class="text-left primary-color letter-spacing-4x">Director, Engineering: Storage</h1>
    	<h3 class="line-space-2x secondary-color text-left ">We develop next generation cloud infrastructure technology that will change how millions of developers build, deploy and scale web applications.</h3>
    	<h3 class="line-space-2x secondary-color text-left ">New York - NY, Cambridge - MA, Remote</h3>
   	</section>
</div>
<div class="full-width bk-clr-fff" id="foo">
	<div class="back-career">
		<div class="container line-height-50x width-50x">
			<div class="col-sm-6 col-xs-12 CareersNav-center">
				<a ui-sref="jobs"><span>Back to Careers</span></a>
			</div>
			<div class="col-sm-6 col-xs-12">
				<div class="CareersNav-right">
          			<a target="_blank" href="https://boards.greenhouse.io/digitalocean98/jobs/747411?gh_jid=747411" class="Button Button--primary" data-career-apply-link="">Apply Now</a>
        		</div>
			</div>
		</div>
	</div>
</div>

<div class="container width-50x">
	<section class="margin-top5">
    	<h2 class="text-left  letter-spacing-4x">Do you ever wonder what happens inside the cloud?</h2>
    	<h3 class="line-space-2x secondary-color text-left ">Based in New York and Cambridge, DigitalOcean is a dynamic, high-growth technology company that serves a robust and passionate community of developers around the world. Our mission is to simplify cloud computing for every developer. We are working on solving some of the most challenging and interesting technology projects around, on a scale unmatched by few companies.</h3>
    	<h3 class="line-space-2x secondary-color text-left ">We are looking for a technical leader who will drive engineering excellence across all major components of our current and future Storage offerings. You will have strong ownership over new and existing systems, guiding multiple teams through all phases of software development, including product definition, implementation, operations and scaling. You’ll guide your team of managers as they execute, coaching and directing them to new levels of excellence. Your work will have a direct impact on real DO customers.</h3>

    	<h2 class="text-left  letter-spacing-4x padding-top-10x">What You’ll Be Doing:</h2>
    	<ul class="padding-left-20x">
    		<li>
    			<h3 class="line-space-2x secondary-color text-left ">Working in close partnership with Product Management, Design and other core product directors (Compute and Networking) to deliver storage-related software services.</h3>
    		</li>
    		<li>
    			<h3 class="line-space-2x secondary-color text-left ">Develop quarterly goals and objectives that help keep your teams aligned with the vision and higher-level company goals.</h3>
    		</li>
    		<li>
    			<h3 class="line-space-2x secondary-color text-left ">Make large prioritization decisions, and tradeoffs between schedule, scope, cost</h3>
    		</li>
    		<li>
    			<h3 class="line-space-2x secondary-color text-left ">Attract, develop and retain the people required to deliver your plan.</h3>
    		</li>
    		<li>
    			<h3 class="line-space-2x secondary-color text-left ">Actively coach and develop the managers and technical leaders within your organization, and create a healthy culture that supports delivery over the long term</h3>
    		</li>
    		<li>
    			<h3 class="line-space-2x secondary-color text-left ">Command the economics tied to your organization. This includes ROI considerations, revenue impact, margins, opex and capex budgets.</h3>
    		</li>
    		<li>
    			<h3 class="line-space-2x secondary-color text-left ">Actively participate in the yearly and quarterly budget process and make strategic and tactical decisions to manage to these budgets</h3>
    		</li>
    		<li>
    			<h3 class="line-space-2x secondary-color text-left ">Be an open communicator within DigitalOcean in both written and spoken form. Routinely present at company AMAs.</h3>
    		</li>
    		<li>
    			<h3 class="line-space-2x secondary-color text-left ">As a director you will be expected to drive a company initiative that does not fit nicely in a box, or has impact beyond your immediate organization</h3>
    		</li>
    	</ul>

    	<h2 class="text-left  letter-spacing-4x padding-top-10x">What We'll Expect From You:</h2>
    	<ul class="padding-left-20x">
    		<li>
    			<h3 class="line-space-2x secondary-color text-left ">Significant experience managing software development teams and shipping software-based products or services, a big plus to Storage-related products.</h3>
    		</li>
    		<li>
    			<h3 class="line-space-2x secondary-color text-left ">Experience with building and leading teams with an emphasis on scaling them to meet the demands of a rapidly growing business</h3>
    		</li>
    		<li>
    			<h3 class="line-space-2x secondary-color text-left ">Direct experience building scalable infrastructure software and/or distributed systems</h3>
    		</li>
    		<li>
    			<h3 class="line-space-2x secondary-color text-left ">Strong analytic and quantitative analysis skills</h3>
    		</li>
    		<li>
    			<h3 class="line-space-2x secondary-color text-left ">Strong communications skills with the ability to prioritize well and understand how to drive a high level of focus and excellence through a strong, talented and motivated team</h3>
    		</li>
    		<li>
    			<h3 class="line-space-2x secondary-color text-left ">Sound business judgment, with a proven ability to influence others and drive consensus</h3>
    		</li>
    		<li>
    			<h3 class="line-space-2x secondary-color text-left ">A strong sense of ownership, urgency, and drive</h3>
    		</li>
    		<li>
    			<h3 class="line-space-2x secondary-color text-left ">A good systems thinker, who understands complex organisations, systems and how to work effectively in a complex environment.</h3>
    		</li>
    		<li>
    			<h3 class="line-space-2x secondary-color text-left ">Enough architecture and engineering chops to hold your teams to high standards.</h3>
    		</li>
    	</ul>

    	<h2 class="text-left  letter-spacing-4x padding-top-10x">Why You’ll Like Working for DigitalOcean:</h2>
    	<ul class="padding-left-20x">
    		<li>
    			<h3 class="line-space-2x secondary-color text-left "><b>We have amazing people.</b> We can promise you will work with some of the smartest and most interesting people in the industry. We work hard but we always have fun doing it. We care deeply about each other and take our “no jerks” rule very seriously.</h3>
    		</li>
    		<li>
    			<h3 class="line-space-2x secondary-color text-left "><b>We value development. </b> We are a high-performance organization that is always challenging ourselves to continuously grow. That means we maintain a growth mindset in everything we do and invest deeply in employee development.  You’ll need to be great to get hired here and we promise you’ll get even better.</h3>
    		<li>
    			<h3 class="line-space-2x secondary-color text-left "><b>We care about you.</b> We offer competitive health, dental, and vision benefits for employees and their dependents, a monthly gym reimbursement to support your physical health, and a monthly commute allowance to make your trips to and from work easier.</h3>
    		</li>
    		<li>
    			<h3 class="line-space-2x secondary-color text-left "><b>We invest in your future.</b> We offer competitive compensation and a 401k plan with up to a 4% employer match. We also provide all employees with Kindles and reimbursement for relevant conferences, training, and education.\</h3>
    		</li>
    		<li>
    			<h3 class="line-space-2x secondary-color text-left "><b>We want you to love where you work.</b>We have great office spaces located in the heart of SoHo NYC and Cambridge, and offer daily catered lunches to keep your hunger at bay. We’re also very remote-friendly—we use Slack to communicate across the company—and all remote employees have the opportunity to take an all-expense-paid trip to our office to get quality in-person time with the team at least once a year. We also allow employees to customize their workstations to meet their needs—whether remote or in office.</h3>
    		</li>
    		<li>
    			<h3 class="line-space-2x secondary-color text-left "><b>We value diversity and inclusivity.</b>We are an equal opportunity employer and we do not discriminate on the basis of race, religion, color, national origin, gender, sexual orientation, age, marital status, veteran status, or disability status.</h3>
    		</li>
    	</ul>

    	<a target="_blank" href="https://boards.greenhouse.io/digitalocean98/jobs/747411?gh_jid=747411" class="Button Button--primary Button--fullWidth margin-top5 margin-bottom2" data-career-apply-link="">Apply Now</a>
   	</section>
</div>

<footer-directive></footer-directive>


<script>
	jQuery(function($) {
  		function fixDiv() {
		    var $cache = $('#foo');
		    var hT = $('#foo').offset().top
		    if ($(window).scrollTop() > 250)
		    $cache.css({
		        'position': 'fixed',
		        'top': '0px',
		        'width':'100%'
		    });
		    else
		    $cache.css({
		        'position': 'relative',
		        'top': 'auto'
		    });
		}
	  	$(window).scroll(fixDiv);
	  	fixDiv();
	});
</script>