<nav-directive></nav-directive>
<div class="container width-50x">
	<section class="margin-top5">
    	<h1 class="text-left primary-color letter-spacing-4x">Photo & Video Editor</h1>
    	<h3 class="line-space-2x secondary-color text-left ">We develop next generation cloud infrastructure technology that will change how millions of developers build, deploy and scale web applications.</h3>
    	<h3 class="line-space-2x secondary-color text-left ">New York - NY, Cambridge - MA, Remote</h3>
   	</section>
</div>
<div class="full-width bk-clr-fff" id="foo">
	<div class="back-career">
		<div class="container line-height-50x width-50x">
			<div class="col-sm-6 col-xs-12 CareersNav-center">
				<a ui-sref="jobs"><span>Back to Careers</span></a>
			</div>
			<div class="col-sm-6 col-xs-12">
				<div class="CareersNav-right">
          			<a target="_blank" href="https://boards.greenhouse.io/digitalocean98/jobs/747411?gh_jid=747411" class="Button Button--primary" data-career-apply-link="">Apply Now</a>
        		</div>
			</div>
		</div>
	</div>
</div>

<div class="container width-50x">
	<section class="margin-top5">
    	<h2 class="text-left  letter-spacing-4x">Do you ever wonder what happens inside the cloud?</h2>
    	<h3 class="line-space-2x secondary-color text-left ">We are looking for Editors with experience in photo & video. You will work in a range of projects including stop motion, short films, fashion shoots, wedding photography & videography etc. </h3>
    	<!-- <h3 class="line-space-2x secondary-color text-left ">We are looking for a technical leader who will drive engineering excellence across all major components of our current and future Storage offerings. You will have strong ownership over new and existing systems, guiding multiple teams through all phases of software development, including product definition, implementation, operations and scaling. You’ll guide your team of managers as they execute, coaching and directing them to new levels of excellence. Your work will have a direct impact on real DO customers.</h3> -->

    	<h2 class="text-left  letter-spacing-4x padding-top-10x">Responsibilities </h2>
    	<ul class="padding-left-20x">
    		<li><h3 class="line-space-2x secondary-color text-left ">assembling all raw footage (photo or video) for inputting into the computer</h3></li>
    		<li><h3 class="line-space-2x secondary-color text-left ">inputting uncut rushes and sound, and synchronising and storing them into files on the computer.</h3></li>
    		<li><h3 class="line-space-2x secondary-color text-left ">digitally cutting the files to put together the sequence of the film and deciding what is usable.</h3></li>
    		<li><h3 class="line-space-2x secondary-color text-left ">creating a 'rough cut' (or assembly edit) of the programme/film and determining the exact cutting for the next and final stages.</h3></li>
    		<li><h3 class="line-space-2x secondary-color text-left ">reordering and fine-tuning the content to ensure the logical sequencing and smooth running of the film/video.</h3></li>
    		<li><h3 class="line-space-2x secondary-color text-left ">overseeing the quality and progress of audio and video engineering and editing.</h3></li>
    		<li><h3 class="line-space-2x secondary-color text-left ">experimenting with styles and techniques including the design of graphic elements</h3></li>
            <li><h3 class="line-space-2x secondary-color text-left ">writing voiceover/commentary.</h3></li>
            <li><h3 class="line-space-2x secondary-color text-left ">suggesting or selecting music.</h3></li>

    	</ul>

    	<h2 class="text-left  letter-spacing-4x padding-top-10x">Requirements</h2>
    	<!-- <ul class="padding-left-20x">
    		<li><h3 class="line-space-2x secondary-color text-left ">Proven graphic designing experience</h3></li>
    		<li><h3 class="line-space-2x secondary-color text-left ">Possession of creative flair, versatility, conceptual/visual ability and originality</h3></li>
    		<li><h3 class="line-space-2x secondary-color text-left ">Demonstrable graphic design skills with a strong portfolio</h3>
    		</li>
    		<li><h3 class="line-space-2x secondary-color text-left ">Ability to interact, communicate and present ideas</h3></li>
    		<li><h3 class="line-space-2x secondary-color text-left ">Up to date with industry leading software and technologies (In Design, Illustrator, Dreamweaver, Photoshop etc)</h3></li>
    		<li><h3 class="line-space-2x secondary-color text-left ">Highly proficient in all design aspects</h3></li>
    		<li><h3 class="line-space-2x secondary-color text-left ">Professionalism regarding time, costs and deadlines</h3></li>
    	</ul> -->

    	<a target="_blank" href="https://boards.greenhouse.io/digitalocean98/jobs/747411?gh_jid=747411" class="Button Button--primary Button--fullWidth margin-top5 margin-bottom2" data-career-apply-link="">Apply Now</a>
   	</section>
</div>

<footer-directive></footer-directive>


<script>



    var navTop = $('#foo').offset().top;
    $(window).scroll(function(){
        if ($(this).scrollTop() >= navTop) {
            $('#foo').css('position', 'fixed');
            $('#foo').css('top', '0');
            $('#foo').css('width', '100%');
        } else {
            $('#foo').css('position', 'relative');
        }
    });



</script>