<style type="text/css">
	#homebgImg {
        width: 100%;
        margin-top: 4%;
    }
</style>
<div style="height: 100vh;">
    <div id="homebg">
        <img src="img/faith/faith.png" id="homebgImg" >
    </div>
	<div class="container">
		<h1 class="text-center primary-color letter-spacing-4x margin-top5">NEED ASSISTANCE</h1>
		<hr/>
		<h3 class="text-center line-space-2x secondary-color margin-top5">Not just another company specialising in creative media and IT, but, a team devising and putting creative solutions into motion with design and technology as its forte. We know what you need to take your brand to the next level, and help you achieve the goal beyond set possibilities. Our deep understanding of the requirements in today’s market adds tremendous value to every step of the process.</h3>
        
        
        <div class="row margin-top5">
            <div class="col-md-6" style="z-index: 999999;">
                <div class="prhide" id="prd1">
                    <img src="img/faith/quotes.png" style="width: 86%;">
                </div>
                <div class="prhide" id="prd2">
                    <img src="img/faith/clergy.png" style="width: 86%;">
                </div>
                <div class="prhide" id="prd3">
                    <img src="img/faith/request.png" style="width: 86%;">
                </div>
                <div class="prhide" id="prd4">
                    <img src="img/faith/radio.png" style="width: 86%;">
                </div>
                <div class="prhide" id="prd5">
                    <img src="img/faith/timings.png" style="width: 86%;">
                </div>
            </div>
            <div class="col-md-6" style="z-index: 99999999">
                  <div class="row margin-top4">
                    <div class="col-md-1">
                        <h3 class="secondary-color margin-0 pr-links" rel="prd1" ><i class="fa fa-circle" id="icon1" aria-hidden="true"></i></h3>
                    </div>
                    <div class="col-md-11">
                        <h3 class="text-left line-space-2x secondary-color margin-0">Bible Quotes</h3>
                        <h3 class="text-left line-space-2x secondary-color margin-0">Get bible quotes in your phone</h3>
                    </div>
                </div>
                <div class="row margin-top4">
                    <div class="col-md-1">
                        <h3 class="secondary-color margin-0 pr-links" rel="prd2"><i class="fa fa-circle" id="icon2" aria-hidden="true" ></i></h3>
                    </div>
                    <div class="col-md-11">
                        <h3 class="text-left line-space-2x secondary-color margin-0">Clergy</h3>
                        <h3 class="text-left line-space-2x secondary-color margin-0">Know your clergy with faith</h3>
                    </div>
                </div>
                <div class="row margin-top4">
                    <div class="col-md-1">
                        <h3 class="secondary-color margin-0 pr-links" rel="prd3"><i class="fa fa-circle" id="icon3" aria-hidden="true" ></i></h3>
                    </div>
                    <div class="col-md-11">
                        <h3 class="text-left line-space-2x secondary-color margin-0">Prayer Request</h3>
                        <h3 class="text-left line-space-2x secondary-color margin-0">Get your prayer request in phone</h3>
                    </div>
                </div>
                <div class="row margin-top4">
                    <div class="col-md-1">
                        <h3 class="secondary-color margin-0 pr-links" rel="prd4"><i class="fa fa-circle" id="icon4" aria-hidden="true" ></i></h3>
                    </div>
                    <div class="col-md-11">
                        <h3 class="text-left line-space-2x secondary-color margin-0">Devotional Songs</h3>
                        <h3 class="text-left line-space-2x secondary-color margin-0">Get your Devotional songs in phone</h3>
                    </div>
                </div>
                <div class="row margin-top4">
                    <div class="col-md-1">
                        <h3 class="secondary-color margin-0 pr-links" rel="prd5"><i class="fa fa-circle" id="icon5" aria-hidden="true" ></i></h3>
                    </div>
                    <div class="col-md-11">
                        <h3 class="text-left line-space-2x secondary-color margin-0">Church Timings</h3>
                        <h3 class="text-left line-space-2x secondary-color margin-0">Never miss a mass</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="full-width" style="background-color: #fff;height: 0px">
        <img src="img/faith/faith-down.png" width="100%" style="margin-top: -30%;opacity: 0.2" >
    </div>
    <footer-directive></footer-directive>
</div>



<script>
     $('.pr-links').on('click', function(){
        var target = $(this).attr('rel');
        $("#"+target).show().siblings(".prhide").hide();
        var icon = $(this).children(".fa").attr("id");
        $(".fa" ).removeClass( "fa-dot-circle-o" );
        $("#"+icon).addClass( "fa-dot-circle-o" );
    });

    $(document).ready(function(){
        $(".prhide").hide();
        $("#prd1").show();
        $('#icon1').addClass( "fa-dot-circle-o" );
    });
</script>