
<div ng-show="loader" class="loader" id="loader-jason" style="height: 100vh"></div>

<div ng-hide="loader">
	<nav-directive></nav-directive>
	<home-directive id="home"></home-directive>
	<about-directive id="about"></about-directive>
	<product-directive id="products"></product-directive>
	<services-directive  id="service"></services-directive>
	<portfolio-directive id="portfolio"></portfolio-directive>
	<slider-directive ></slider-directive>
	<footer-directive></footer-directive>
</div>



<script type="text/javascript">
	var animation = bodymovin.loadAnimation({
		container: document.getElementById('loader-jason'),
		renderer: 'svg',
		loop: true,
		autoplay: true,
		path: 'img/logo-loader.json'
	})
</script>


	









	



     


