<style type="text/css">
	#homebgImg {
        width: 100%;
        margin-top: 2%
    }
    .caption{
    	position: absolute;
    	top:20%;
    	left: 50%;
    }
    .caption-title{
    	text-align: center;
    	position: relative; 
    	left: -50%; 
    	font-size: 50px;
    	font-weight: 600;
    	font-family: 'Montserrat';
    }
</style>
<div style="height: 100vh;">
    <div id="homebg">
        <img src="img/landing.jpg" id="homebgImg" >
    </div>
    <div class="caption">
		<h1 class="caption-title">INNOVATIVE SOLUTIONS<br/> CATERED FOR YOU</h1>
	</div>
</div>