<section>
	<div class=" text-center section-head">
		<h1 class="text-center primary-color letter-spacing-4x " align="text-center">LEAD ROCKETERS</h1>
	</div>
	<div class="col-md-12">
		<div class="col-md-3">
			<div class="lead-container">
				<img src="img/melvin.jpg" class="lead-img">
			</div>
		</div>
		<div class="col-md-3">
			<div class="lead-container">
				<img src="img/melvin.jpg" class="lead-img">
			</div>
		</div>
		<div class="col-md-3">
			<div class="lead-container">
				<img src="img/melvin.jpg" class="lead-img">
			</div>
		</div>
		<div class="col-md-3">
			<div class="lead-container">
				<img src="img/melvin.jpg" class="lead-img">
			</div>
		</div>
	</div>
</section>