<nav-directive></nav-directive>
<div class="container width-50x">
	<section class="margin-top5">
    	<h1 class="text-left primary-color letter-spacing-4x">Mean Stack Developer</h1>
    	<h3 class="line-space-2x secondary-color text-left ">We’re looking for talented MEAN Stack developers capable of creating efficient frontend and backend code for Web Applications</h3>
    	<!-- <h3 class="line-space-2x secondary-color text-left ">New York - NY, Cambridge - MA, Remote</h3> -->
   	</section>
</div>
<div class="full-width bk-clr-fff" id="foo">
	<div class="back-career">
		<div class="container line-height-50x width-50x">
			<div class="col-sm-6 col-xs-12 CareersNav-center">
				<a ui-sref="jobs"><span>Back to Careers</span></a>
			</div>
			<div class="col-sm-6 col-xs-12">
				<div class="CareersNav-right">
          			<a target="_blank" href="#" onclick="navigation()" class="Button Button--primary" data-career-apply-link="">Apply Now</a>
        		</div>
			</div>
		</div>
	</div>
</div>

<div class="container width-50x">
	<section class="margin-top5">
    	<h2 class="text-left  letter-spacing-4x">Mean Stack Developer Job Duties</h2>
    	<h3 class="line-space-2x secondary-color text-left ">Web Developers responsibilities include building Web Applications and Websites from concept stage. Essentially planning the wireframe, layout and structuring the backend etc.</h3>

    	<h2 class="text-left  letter-spacing-4x padding-top-10x">Responsibilities </h2>
    	<ul class="padding-left-20x">
    		<li><h3 class="line-space-2x secondary-color text-left ">Write well designed, testable, efficient code by using best software development practices </h3></li>
    		<li><h3 class="line-space-2x secondary-color text-left ">Create website layout/user interface by using standard HTML/CSS practices</h3></li>
    		<li><h3 class="line-space-2x secondary-color text-left ">Integrate data from various back-end services and databases</h3></li>
    		<li><h3 class="line-space-2x secondary-color text-left ">Gather and refine specifications and requirements based on technical needs.</h3></li>
    		<li><h3 class="line-space-2x secondary-color text-left ">Create and maintain software documentation.</h3></li>
    		<li><h3 class="line-space-2x secondary-color text-left ">Be responsible for maintaining, expanding, and scaling the Website/ Web Application. </h3></li>
    		<li><h3 class="line-space-2x secondary-color text-left ">Stay plugged into emerging technologies/industry trends and apply them into operations and activities.</h3></li>
            <li><h3 class="line-space-2x secondary-color text-left ">Cooperate with designers to match visual design intent</h3></li>
    	</ul>

    	<h2 class="text-left  letter-spacing-4x padding-top-10x">Requirements</h2>
    	<ul class="padding-left-20x">
    		<li><h3 class="line-space-2x secondary-color text-left ">Proven working experience in web programming</h3></li>
    		<li><h3 class="line-space-2x secondary-color text-left ">Familiarity with API Creation and RESTful services</h3></li>
    		<li><h3 class="line-space-2x secondary-color text-left ">MEAN (MongoDB, Express.js,AngularJS, and Node.js) Stack</h3>
    		</li>
    		<li><h3 class="line-space-2x secondary-color text-left ">Translation of designer mock-ups and wireframes into front-end code</h3></li>
    		<li><h3 class="line-space-2x secondary-color text-left ">Solid foundation in data structures, algorithms, and system design.</h3></li>
    		<li><h3 class="line-space-2x secondary-color text-left ">Database administration and management of a hosting environment</h3></li>
    		<li><h3 class="line-space-2x secondary-color text-left ">Unit testing with Karma</h3></li>
            <li><h3 class="line-space-2x secondary-color text-left ">Version control with GitHub

</h3></li>
    	</ul>

    	<a target="_blank" href="#" class="Button Button--primary Button--fullWidth margin-top5 margin-bottom2" data-career-apply-link="">Apply Now</a>
   	</section>
</div>

<footer-directive></footer-directive>


<script>



    var navTop = $('#foo').offset().top;
    $(window).scroll(function(){
        if ($(this).scrollTop() >= navTop) {
           
            $('#nav-1').css('position', 'relative');
            $('#foo').css('position', 'fixed');
            $('#foo').css('top', '0');
            $('#foo').css('width', '100%');
        } else {
            $('#foo').css('position', 'relative');
            $('#nav-1').css('position', 'fixed');
        }
    });
    function navigation(){
        $('#nav-1').css('position', 'fixed');
    }


</script>