<!-- portfolio page -->
<style type="text/css">
    .snip1273 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  /*float: left;*/
  /*margin: 10px 1%;*/
  /*min-width: 310px -60px;*/
  /*max-width: 310px;*/
  width: 100%;
  color: #ffffff;
  text-align: left;
  background-color: #000000;
  font-size: 16px;
}
.snip1273 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.snip1273 img {
  position: relative;
  max-width: 100%;
  vertical-align: top;
}
.snip1273 figcaption {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  padding: 20px 30px;
}
.snip1273 figcaption:before,
.snip1273 figcaption:after {
  width: 1px;
  height: 0;
}
.snip1273 figcaption:before {
  right: 0;
  top: 0;
}
.snip1273 figcaption:after {
  left: 0;
  bottom: 0;
}
.snip1273 h3,
.snip1273 p {
  line-height: 1.5em;
}
.snip1273 h3 {
  margin: 0 0 5px;
  font-weight: 700;
  text-transform: uppercase;
}
.snip1273 p {
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 15px;
}
.snip1273 a {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.snip1273:before,
.snip1273:after,
.snip1273 figcaption:before,
.snip1273 figcaption:after {
  position: absolute;
  content: '';
  background-color: red;
  z-index: 1;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  /*opacity: 0.8;*/
}
.snip1273:before,
.snip1273:after {
  height: 2px;
  width: 0%;
}
.snip1273:before {
  top: 0;
  left: 0;
}
.snip1273:after {
  bottom: 0;
  right: 0;
}
.snip1273:hover img,
.snip1273.hover img {
  opacity: 0.4;
}
.snip1273:hover figcaption,
.snip1273.hover figcaption {
  opacity: 1;
}
.snip1273:hover figcaption:before,
.snip1273.hover figcaption:before,
.snip1273:hover figcaption:after,
.snip1273.hover figcaption:after {
  height: 100%;
}
.snip1273:hover:before,
.snip1273.hover:before,
.snip1273:hover:after,
.snip1273.hover:after {
  width: 100%;
}
.snip1273:hover:before,
.snip1273.hover:before,
.snip1273:hover:after,
.snip1273.hover:after,
.snip1273:hover figcaption:before,
.snip1273.hover figcaption:before,
.snip1273:hover figcaption:after,
.snip1273.hover figcaption:after {
  opacity: 0.1;
}
</style>











<div class="container sec">
    <section class="section">
    	<div class="row">
    		<h2 class="sectionHead text_primary post">OUR PORTFOLIO</h2>
    	</div>
    	<div class="row post">
            <ul class="simplefilter">
                <li class="active portfol" data-filter="all">ALL</li>
                <li class="portfol" data-filter="1" >DESIGN</li>
                <li class="portfol" data-filter="2" >UI/UX</li>
                <li class="portfol" data-filter="3" >PHOTOGRAPHY</li>
                <li class="portfol" data-filter="4" >VIDEOGRAPHY</li>
                <!-- <li data-filter="5">OTHERS</li> -->
            </ul>
    	</div>
        <div class="row post">
            <div class="filtr-container">
                <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="1, 5" data-sort="Busy streets">
                    <figure class="snip1273">
                        <img src="img/portfolio/1.png" alt="sample72"/>
                        <figcaption>
                            <span class="item-desc">PROJECT NAME</span>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="2, 5" data-sort="Luminous night">
                    <figure class="snip1273">
                        <img src="img/portfolio/2.png" alt="sample72"/>
                        <figcaption>
                            <span class="item-desc">PROJECT NAME</span>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="1, 4" data-sort="City wonders">
                    <figure class="snip1273">
                        <img src="img/portfolio/3.png" alt="sample72"/>
                        <figcaption>
                            <span class="item-desc">PROJECT NAME</span>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3" data-sort="In production">
                    <figure class="snip1273">
                        <img src="img/portfolio/4.png" alt="sample72"/>
                        <figcaption>
                            <span class="item-desc">PROJECT NAME</span>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3, 4" data-sort="Industrial site">
                    <figure class="snip1273">
                        <img src="img/portfolio/5.png" alt="sample72"/>
                        <figcaption>
                            <span class="item-desc">PROJECT NAME</span>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="2, 4" data-sort="Peaceful lake">
                    <figure class="snip1273">
                        <img src="img/portfolio/6.png" alt="sample72"/>
                        <figcaption>
                            <span class="item-desc">PROJECT NAME</span>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="1, 5" data-sort="City lights">
                    <figure class="snip1273">
                        <img src="img/portfolio/7.png" alt="sample72"/>
                        <figcaption>
                            <span class="item-desc">PROJECT NAME</span>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="2, 4" data-sort="Dreamhouse">
                    <figure class="snip1273">
                        <img src="img/portfolio/1.png" alt="sample72"/>
                        <figcaption>
                            <span class="item-desc">PROJECT NAME</span>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3" data-sort="Restless machines">
                    <figure class="snip1273">
                        <img src="img/portfolio/2.png" alt="sample72"/>
                        <figcaption>
                            <span class="item-desc">PROJECT NAME</span>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="js/controls.js"></script>
<script type="text/javascript">
    $(function() {
        $('.filtr-container').filterizr();
    });
</script>
