<div ng-show="loader" class="loader">
    <img src="img/loader.gif" class="loader-img">
</div>
<div ng-hide="loader">
    <nav-directive></nav-directive>
    <portfoliopage-directive></portfoliopage-directive>
    <div class="container">
        <section>
            <h1 class="text-center primary-color letter-spacing-4x">OUR PORTFOLIO</h1>
            <hr/>
            <div class="row margin-top5">
                <ul class="simplefilter">
                    <li class="active portfol"  data-filter="all">All</li>
                    <li class="portfol" id="clk" data-filter="1">Branding</li>
                    <li class="portfol" data-filter="2">UI/UX</li>
                    <li class="portfol" data-filter="3">Photography</li>
                    <li class="portfol" data-filter="4">Videography</li>
                </ul>
            </div>
            <div class="row">
                <div class="filtr-container" style="min-height: 80vh">
                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="1" data-sort="Busy streets"  onclick="mode(0)">
                        <img class="img-responsive" src="portfolio/img/Branding/1.png" alt="sample image">
                         <span class="item-desc">Dolphin Logo & Stationary Design</span>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="1" data-sort="Busy streets"  onclick="mode(1)">
                        <img class="img-responsive" src="portfolio/img/Branding/2.png" alt="sample image">
                         <span class="item-desc">Tektol Logo & Stationary Design</span>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="1" data-sort="Busy streets"  onclick="mode(2)">
                        <img class="img-responsive" src="portfolio/img/Branding/3.png" alt="sample image">
                         <span class="item-desc">Publicize Logo & Stationary Design</span>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="1" data-sort="Busy streets"  onclick="mode(3)">
                        <img class="img-responsive" src="portfolio/img/Branding/4.png" alt="sample image">
                         <span class="item-desc">The Breakfast Club Packaging Concept</span>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="1" data-sort="Busy streets"  onclick="mode(4)">
                        <img class="img-responsive" src="portfolio/img/Branding/5.png" alt="sample image">
                         <span class="item-desc">Treeroute Logo Design</span>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="1" data-sort="Busy streets"  onclick="mode(5)">
                        <img class="img-responsive" src="portfolio/img/Branding/6.png" alt="sample image">
                         <span class="item-desc">Treeroute Promotional Design</span>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="1" data-sort="Busy streets"  onclick="mode(6)">
                        <img class="img-responsive" src="portfolio/img/Branding/7.jpg" alt="sample image">
                         <span class="item-desc">Faith Promotional Design</span>
                    </div>
                     <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="1" data-sort="Busy streets"  onclick="mode(7)">
                        <img class="img-responsive" src="portfolio/img/Branding/8.jpg" alt="sample image">
                         <span class="item-desc">Burrow Promotional Design</span>
                    </div>



                     <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="2" data-sort="Busy streets"  onclick="mode(8)">
                        <img class="img-responsive" src="portfolio/img/UI/1.jpg" alt="sample image">
                         <span class="item-desc">Faith Android Design</span>
                    </div>
                     <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="2" data-sort="Busy streets"  onclick="mode(9)">
                        <img class="img-responsive" src="portfolio/img/UI/2.jpg" alt="sample image">
                         <span class="item-desc">Burrow Android Design</span>
                    </div>
                     <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="2" data-sort="Busy streets"  onclick="mode(10)">
                        <img class="img-responsive" src="portfolio/img/UI/3.jpg" alt="sample image">
                         <span class="item-desc">Vuzzaa Android Design</span>
                    </div>
                     <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="2" data-sort="Busy streets"  onclick="mode(11)">
                        <img class="img-responsive" src="portfolio/img/UI/4.jpg" alt="sample image">
                         <span class="item-desc">Treeroute Android Design</span>
                    </div>
                     <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="2" data-sort="Busy streets"  onclick="mode(47)">
                        <img class="img-responsive" src="portfolio/img/UI/9.jpg" alt="sample image">
                         <span class="item-desc">KSHA Android Design</span>
                    </div>
                     <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="2" data-sort="Busy streets"  onclick="mode(48)">
                        <img class="img-responsive" src="portfolio/img/UI/10.jpg" alt="sample image">
                         <span class="item-desc">Tirupati Android Design</span>
                    </div>
                     <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="2" data-sort="Busy streets"  onclick="mode(49)">
                        <img class="img-responsive" src="portfolio/img/UI/8.jpg" alt="sample image">
                         <span class="item-desc">Tirupati Web Design</span>
                    </div>
                     <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="2" data-sort="Busy streets"  onclick="mode(12)">
                        <img class="img-responsive" src="portfolio/img/UI/5.jpg" alt="sample image">
                         <span class="item-desc">MJ Infrastructure Web Design</span>
                    </div>
                     <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="2" data-sort="Busy streets"  onclick="mode(13)">
                        <img class="img-responsive" src="portfolio/img/UI/6.jpg" alt="sample image">
                         <span class="item-desc">Dolphin Web Design</span>
                    </div>
                     <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="2" data-sort="Busy streets"  onclick="mode(14)">
                        <img class="img-responsive" src="portfolio/img/UI/7.jpg" alt="sample image">
                         <span class="item-desc">Publicize Web Design</span>
                    </div>
                    




                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3" data-sort="Busy streets"  onclick="mode(15)">
                        <img class="img-responsive" src="portfolio/img/photography/1.jpg" alt="sample image">
                         <span class="item-desc">Crack Of Dawn Crafts Product</span>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3" data-sort="Busy streets"  onclick="mode(16)">
                        <img class="img-responsive" src="portfolio/img/photography/2.jpg" alt="sample image">
                         <span class="item-desc">Straight Up Ambience</span>
                    </div>
                     <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3" data-sort="Busy streets"  onclick="mode(17)">
                        <img class="img-responsive" src="portfolio/img/photography/3.jpg" alt="sample image">
                         <span class="item-desc">Straight Up Ambience</span>
                    </div>
                     <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3" data-sort="Busy streets"  onclick="mode(18)">
                        <img class="img-responsive" src="portfolio/img/photography/4.jpg" alt="sample image">
                         <span class="item-desc">Straight Up Product</span>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3" data-sort="Busy streets"  onclick="mode(19)">
                        <img class="img-responsive" src="portfolio/img/photography/5.jpg" alt="sample image">
                         <span class="item-desc">Straight Up Product</span>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3" data-sort="Busy streets"  onclick="mode(20)">
                        <img class="img-responsive" src="portfolio/img/photography/6.jpg" alt="sample image">
                         <span class="item-desc">T John Fashion Shoot</span>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3" data-sort="Busy streets"  onclick="mode(21)">
                        <img class="img-responsive" src="portfolio/img/photography/7.jpg" alt="sample image">
                         <span class="item-desc">T John Fashion Shoot</span>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3" data-sort="Busy streets"  onclick="mode(22)">
                        <img class="img-responsive" src="portfolio/img/photography/8.jpg" alt="sample image">
                         <span class="item-desc">The Breakfast Club Product</span>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3" data-sort="Busy streets"  onclick="mode(23)">
                        <img class="img-responsive" src="portfolio/img/photography/9.jpg" alt="sample image">
                         <span class="item-desc">T John Fashion Shoot</span>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3" data-sort="Busy streets"  onclick="mode(24)">
                        <img class="img-responsive" src="portfolio/img/photography/10.jpg" alt="sample image">
                         <span class="item-desc">T John Fashion Shoot</span>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3" data-sort="Busy streets"  onclick="mode(25)">
                        <img class="img-responsive" src="portfolio/img/photography/11.jpg" alt="sample image">
                         <span class="item-desc">Wedding</span>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3" data-sort="Busy streets"  onclick="mode(26)">
                        <img class="img-responsive" src="portfolio/img/photography/12.jpg" alt="sample image">
                         <span class="item-desc">Lavonne Product</span>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3" data-sort="Busy streets"  onclick="mode(27)">
                        <img class="img-responsive" src="portfolio/img/photography/13.jpg" alt="sample image">
                         <span class="item-desc">Lavonne Product</span>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3" data-sort="Busy streets"  onclick="mode(28)">
                        <img class="img-responsive" src="portfolio/img/photography/14.jpg" alt="sample image">
                         <span class="item-desc">Lavonne Product</span>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3" data-sort="Busy streets"  onclick="mode(29)">
                        <img class="img-responsive" src="portfolio/img/photography/15.jpg" alt="sample image">
                         <span class="item-desc">Lavonne Product</span>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3" data-sort="Busy streets"  onclick="mode(30)">
                        <img class="img-responsive" src="portfolio/img/photography/16.jpg" alt="sample image">
                         <span class="item-desc">Aroi Product</span>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3" data-sort="Busy streets"  onclick="mode(31)">
                        <img class="img-responsive" src="portfolio/img/photography/17.jpg" alt="sample image">
                         <span class="item-desc">Aroi Product</span>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3" data-sort="Busy streets"  onclick="mode(32)">
                        <img class="img-responsive" src="portfolio/img/photography/18.jpg" alt="sample image">
                         <span class="item-desc">Aroi Product</span>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3" data-sort="Busy streets"  onclick="mode(33)">
                        <img class="img-responsive" src="portfolio/img/photography/19.jpg" alt="sample image">
                         <span class="item-desc">Engagement</span>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3" data-sort="Busy streets"  onclick="mode(34)">
                        <img class="img-responsive" src="portfolio/img/photography/20.jpg" alt="sample image">
                         <span class="item-desc">The Breakfast Club Concept</span>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3" data-sort="Busy streets"  onclick="mode(35)">
                        <img class="img-responsive" src="portfolio/img/photography/21.jpg" alt="sample image">
                         <span class="item-desc">The Breakfast Club Product</span>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3" data-sort="Busy streets"  onclick="mode(36)">
                        <img class="img-responsive" src="portfolio/img/photography/22.jpg" alt="sample image">
                         <span class="item-desc">The Breakfast Club Product</span>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3" data-sort="Busy streets"  onclick="mode(37)">
                        <img class="img-responsive" src="portfolio/img/photography/23.jpg" alt="sample image">
                         <span class="item-desc">IIMB Unmaad 2017</span>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3" data-sort="Busy streets"  onclick="mode(38)">
                        <img class="img-responsive" src="portfolio/img/photography/24.jpg" alt="sample image">
                         <span class="item-desc">Straight Up Product</span>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3" data-sort="Busy streets"  onclick="mode(39)">
                        <img class="img-responsive" src="portfolio/img/photography/25.jpg" alt="sample image">
                         <span class="item-desc">Straight Up Product</span>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3" data-sort="Busy streets"  onclick="mode(40)">
                        <img class="img-responsive" src="portfolio/img/photography/26.jpg" alt="sample image">
                         <span class="item-desc">Straight Up Product</span>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3" data-sort="Busy streets"  onclick="mode(41)">
                        <img class="img-responsive" src="portfolio/img/photography/27.jpg" alt="sample image">
                         <span class="item-desc">IIMB Unmaad 2017</span>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3" data-sort="Busy streets"  onclick="mode(42)">
                        <img class="img-responsive" src="portfolio/img/photography/28.jpg" alt="sample image">
                         <span class="item-desc">IIMB Unmaad 2017</span>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3" data-sort="Busy streets"  onclick="mode(43)">
                        <img class="img-responsive" src="portfolio/img/photography/29.jpg" alt="sample image">
                         <span class="item-desc">The Breakfast Club Product</span>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3" data-sort="Busy streets"  onclick="mode(44)">
                        <img class="img-responsive" src="portfolio/img/photography/30.jpg" alt="sample image">
                         <span class="item-desc">Lavonne Master Class</span>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3" data-sort="Busy streets"  onclick="mode(45)">
                        <img class="img-responsive" src="portfolio/img/photography/31.jpg" alt="sample image">
                         <span class="item-desc">Lavonne Master Class</span>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 filtr-item" data-category="3" data-sort="Busy streets"  onclick="mode(46)">
                        <img class="img-responsive" src="portfolio/img/photography/32.jpg" alt="sample image">
                         <span class="item-desc">Wedding Fixing</span>
                    </div>
                </div>
            </div>
        </section>



        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="text-center primary-color letter-spacing-4x margin-0" id="port-name">Busy Streets</h2>
                    </div>
                    <div class="modal-body">
                      
                        <img class="img-responsive" id="port-img" src="portfolio/img/photography/32.jpg" alt="sample image">

                        <h3 class="text-left line-space-2x secondary-color margin-top5" id="port-des">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, </h3>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer-directive></footer-directive>
</div>
<script src="portfolio/filterizr/jquery.filterizr.min.js"></script>
<script src="portfolio/js/controls.js"></script>
<script type="text/javascript">

    $(function() {
        $('.filtr-container').filterizr();
        
        // setTimeout(myFunction1, 500)
        // $('#clk').trigger('click');
         var myVar = setTimeout(myTimer, 1000);
    });

    function myTimer() {
        $('#clk').trigger('click');
    }

    var portfolio_array = [
        {
            "name":"Busy streets",
            "img":"portfolio/img/Branding/1.png",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur,"
        },
        {
            "name":"Luminous night",
            "img":"portfolio/img/Branding/2.png",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur,"
        },
        {
            "name":"City wonders",
            "img":"portfolio/img/Branding/3.png",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur,"
        },
        {
            "name":"In production",
            "img":"portfolio/img/Branding/4.png",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur,"
        },
        {
            "name":"Industrial site",
            "img":"portfolio/img/Branding/5.png",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur,"
        },
        {
            "name":"Peaceful lake",
            "img":"portfolio/img/Branding/6.png",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur,"
        },
        {
            "name":"City lights",
            "img":"portfolio/img/Branding/7.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur,"
        },
        {
            "name":"Dreamhouse",
            "img":"portfolio/img/Branding/8.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur,"
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/UI/1.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/UI/2.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/UI/3.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/UI/4.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/UI/5.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/UI/6.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/UI/7.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/photography/1.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/photography/2.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/photography/3.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/photography/4.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/photography/5.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/photography/6.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/photography/7.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/photography/8.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/photography/9.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/photography/10.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/photography/11.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/photography/12.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/photography/13.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/photography/14.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/photography/15.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/photography/16.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/photography/17.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/photography/18.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/photography/19.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/photography/20.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/photography/21.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/photography/22.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/photography/23.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/photography/24.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/photography/25.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/photography/26.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/photography/27.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/photography/28.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/photography/29.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/photography/30.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/photography/31.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/photography/32.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/UI/9.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/UI/10.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        },
        {
            "name":"Restless machines",
            "img":"portfolio/img/UI/8.jpg",
            "description":"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur," 
        }
    ]
    function mode(index){
        document.getElementById("port-name").innerHTML = portfolio_array[index].name;
        document.getElementById("port-des").innerHTML = portfolio_array[index].description;
        document.getElementById("port-img").src = portfolio_array[index].img;
        $('#myModal').modal('show');
    }



    
</script>