<!-- <div class="full-width"> -->
<div class="container">
<section>
	<h1 class="text-center primary-color letter-spacing-4x">OUR PRODUCTS</h1>
	<hr/>
	<div class="col-md-12">
		<ul class="indicators margin-top5">
			<li class="pr-links" rel="prd1"><i id="icon1" class="fa fa-circle secondary-color" aria-hidden="true"></i></li>
			<li class="pr-links" rel="prd2"><i id="icon2" class="fa fa-circle secondary-color" aria-hidden="true"></i></li>
			<li class="pr-links" rel="prd3"><i id="icon3" class="fa fa-circle secondary-color" aria-hidden="true"></i></li>
			<li class="pr-links" rel="prd4"><i id="icon4" class="fa fa-circle secondary-color" aria-hidden="true"></i></li>
			<li class="pr-links" rel="prd5"><i id="icon5" class="fa fa-circle secondary-color" aria-hidden="true"></i></li>
		</ul>
		<div class="row prhide" id="prd1">
            <div class="col-sm-6 col-md-push-6">
                <img src="img/products/2.png" class="product-img" >
            </div>
			<div class="col-sm-6 col-md-pull-6">
				<h2 class="primary-color text-left capitalize mob-text-head">fisap - updates & customization</h2>
				<h3 class="line-space-2x secondary-color text-left">Looking upon the above quote, FISAP™ is an easy to use File Sharing Application.Its outstanding features makes it one of the best software for secure online file sharing and document management. The product is easy to use and it can be modified according to the customer's need, whether a private user or a company. We also provide easy-to-deploy mobile platform support for end users.</h3>
				<h3 class="primary-color">Learn More <i class="fa fa-angle-double-right" aria-hidden="true"></i></h3>
			</div>
			
		</div>
		<div class="row prhide" id="prd2">
            <div class="col-sm-6 col-md-push-6">
                <img src="img/products/3.png" class="product-img" >
            </div>
			<div class="col-sm-6 col-md-pull-6">
				<h2 class="primary-color text-left capitalize mob-text-head">Burrow - updates & customization</h2>
				<h3 class="line-space-2x secondary-color text-left">Whether you’re relocating to a new area, shifting homes or simply want to improve your standard of living, Burrow is here to help you with just that. With Bangalore as its primary target as of now, Burrow helps fulfill the need of a good home with a good landlord who tends to your needs and create a living space that is hassle-free.</h3>
				<a ui-sref="burrow"><h3 class="primary-color">Learn More <i class="fa fa-angle-double-right" aria-hidden="true"></i></h3></a>
			</div>
			
		</div>
		<div class="row prhide" id="prd3">
            <div class="col-sm-6 col-md-push-6">
                <img src="img/products/1.png" class="product-img" >
            </div>
			<div class="col-sm-6 col-md-pull-6">
				<h2 class="primary-color text-left capitalize mob-text-head">Faithapp - updates & customization</h2>
				<h3 class="line-space-2x secondary-color text-left">An app that allows you to get in touch with your spirituality and connect with your community, Faith is the answer. Faith provides users with the ability to find their preferred parish or church located in their vicinity.Faith app unifies its users and brings them closer to their faith.</h3>
				<a ui-sref="faith"><h3 class="primary-color">Learn More <i class="fa fa-angle-double-right" aria-hidden="true"></i></h3></a>
			</div>
			
		</div>
		<div class="row prhide" id="prd4">
            <div class="col-sm-6 col-md-push-6">
                <img src="img/products/4.png" class="product-img" >
            </div>
			<div class="col-sm-6 col-md-pull-6">
				<h2 class="primary-color text-left capitalize mob-text-head">SYNC - updates & customization</h2>
				<h3 class="line-space-2x secondary-color text-left">If you’re tired of the old advertising methods and want to try something new, then SYNC XPro is made just for you. A digital signage medium, SYNC equips you with a secure online dashboard, through which each aspect of your campaign can be addressed. </h3>
				<a ui-sref="sync"><h3 class="primary-color">Learn More <i class="fa fa-angle-double-right" aria-hidden="true"></i></h3></a>
			</div>
			
		</div>
		<div class="row prhide" id="prd5">
            <div class="col-sm-6 col-md-push-6">
                <img src="img/products/4.png" class="product-img" >
            </div>
			<div class="col-sm-6 col-md-pull-6">
				<h2 class="primary-color text-left capitalize mob-text-head">skapp - updates & customization</h2>
				<h3 class="line-space-2x secondary-color text-left">An application that facilitates communication between teachers, students, and parents, SK-App’s seamless interaction helps educational institutes ease their application process. It’s the perfect app for teachers and parents to keep a lookout on their student/child’s performance and provide a platform for students to have a discussion and clear their queries or doubts</h3>
				<h3 class="primary-color">Learn More <i class="fa fa-angle-double-right" aria-hidden="true"></i></h3>
			</div>
		</div>
	</div>
</section>
</div>
<!-- </div> -->



<script type="text/javascript">
    $('.pr-links').on('click', function(){
        var target = $(this).attr('rel');
        $("#"+target).show().siblings(".prhide").hide();
        var icon = $(this).children(".fa").attr("id");
        $(".fa" ).removeClass( "fa-dot-circle-o" );
        $("#"+icon).addClass( "fa-dot-circle-o" );
    });

	$(document).ready(function(){
        $(".prhide").hide();
        $("#prd1").show();
        $('#icon1').addClass( "fa-dot-circle-o" );
    });
</script>
