<div class="container">
	<section class="margin-top5">
		<h1 class="text-center primary-color letter-spacing-4x">OUR PRODUCTS</h1>
		<hr/>
		<div class="col-md-12">
			<ul class="indicators margin-top5">
				<li class="pr-links-p" rel="pr-prd1"><i id="pr-icon1" class="fa fa-circle secondary-color" aria-hidden="true"></i></li>
				<li class="pr-links-p" rel="pr-prd2"><i id="pr-icon2" class="fa fa-circle secondary-color" aria-hidden="true"></i></li>
				<li class="pr-links-p" rel="pr-prd3"><i id="pr-icon3" class="fa fa-circle secondary-color" aria-hidden="true"></i></li>
				<li class="pr-links-p" rel="pr-prd4"><i id="pr-icon4" class="fa fa-circle secondary-color" aria-hidden="true"></i></li>
				<!-- <li class="pr-links-p" rel="pr-prd5"><i id="pr-icon5" class="fa fa-circle secondary-color" aria-hidden="true"></i></li> -->
			</ul>
			<div class="row pr-prhide" id="pr-prd1">
	            <div class="col-sm-6 col-md-push-6">
	                <img src="img/products/2.png" class="product-img" >
	            </div>
				<div class="col-sm-6 col-md-pull-6">
					<h2 class="primary-color text-left capitalize mob-text-head">fisap - updates & customization</h2>
					<h3 class="line-space-2x secondary-color text-left">Looking upon the above quote, FISAP is an easy to use File Sharing Application.Its outstanding features makes it one of the best software for secure online file sharing and document management. The product is easy to use and it can be modified according to the customer's need, whether a private user or a company. We also provide an easy-to-deploy mobile platform support for end users.</h3>
					<h3 class="primary-color">Learn More <i class="fa fa-angle-double-right" aria-hidden="true"></i></h3>
				</div>
				
			</div>
			<div class="row pr-prhide" id="pr-prd2">
	            <div class="col-sm-6 col-md-push-6">
	                <img src="img/products/3.png" class="product-img" >
	            </div>
				<div class="col-sm-6 col-md-pull-6">
					<h2 class="primary-color text-left capitalize mob-text-head">Burrow - updates & customization</h2>
					<h3 class="line-space-2x secondary-color text-left">Whether you’re relocating to a new area, shifting homes or simply want to improve your standard of living, Burrow is here to help you with just that. Currently, with Bangalore as its primary target, Burrow helps fulfill the needs of a good home with a good landlord who tends to your needs and creates a living space that is hassle-free. </h3>
					<a ui-sref="burrow"><h3 class="primary-color">Learn More <i class="fa fa-angle-double-right" aria-hidden="true"></i></h3></a>
				</div>
				
			</div>
			<div class="row pr-prhide" id="pr-prd3">
	            <div class="col-sm-6 col-md-push-6">
	                <img src="img/products/1.png" class="product-img" >
	            </div>
				<div class="col-sm-6 col-md-pull-6">
					<h2 class="primary-color text-left capitalize mob-text-head">Faithapp - updates & customization</h2>
					<h3 class="line-space-2x secondary-color text-left">An app that allows you to get in touch with your spirituality and connect with your community, Faith is the answer. Faith provides users with the ability to find their preferred parish or church located in their vicinity. Once your church or parish has registered with Faith, it provides them the ability to send instant notifications, respond to prayer requests, and share artifacts and prayers, with the added benefit of sharing church details and schedules, seamlessly. </h3>
					<a ui-sref="faith"><h3 class="primary-color">Learn More <i class="fa fa-angle-double-right" aria-hidden="true"></i></h3></a>
				</div>
				
			</div>
			<div class="row pr-prhide" id="pr-prd4">
	            <div class="col-sm-6 col-md-push-6">
	                <img src="img/products/4.png" class="product-img" >
	            </div>
				<div class="col-sm-6 col-md-pull-6">
					<h2 class="primary-color text-left capitalize mob-text-head">SYNC - updates & customization</h2>
					<h3 class="line-space-2x secondary-color text-left">If you’re tired of the old advertising methods and want to try something new then, SYNC XPro is made just for you. Spot Your Next Customer, a digital signage medium, equips you with a secure online dashboard, through which each aspect of your campaign can be addressed. It pushes along with the client’s campaign content. This provides the necessary numbers to crunch and give you a post campaign report that indicates an estimate ROI. </h3>
					<a ui-sref="sync"><h3 class="primary-color">Learn More <i class="fa fa-angle-double-right" aria-hidden="true"></i></h3></a>
				</div>
				
			</div>
			<!-- <div class="row pr-prhide" id="pr-prd5">
	            <div class="col-sm-6 col-md-push-6">
	                <img src="img/products/4.png" class="product-img" >
	            </div>
				<div class="col-sm-6 col-md-pull-6">
					<h2 class="primary-color text-left capitalize mob-text-head">skapp - updates & customization</h2>
					<h3 class="line-space-2x secondary-color text-left">An application that facilitates communication between teachers, students, and parents, SK-App’s seamless interaction helps educational institutes ease their application process. It’s the perfect app for teachers and parents to keep a lookout on their student/child’s performance and provide a platform for students to have a discussion and clear their queries or doubts. </h3>
					<h3 class="primary-color">Learn More <i class="fa fa-angle-double-right" aria-hidden="true"></i></h3>
				</div>
			</div> -->
		</div>
	</section>
</div>


<script type="text/javascript">
    $('.pr-links-p').on('click', function(){
        var target = $(this).attr('rel');
        $("#"+target).show().siblings(".pr-prhide").hide();
        var icon = $(this).children(".fa").attr("id");
        $(".fa" ).removeClass( "fa-dot-circle-o" );
        $("#"+icon).addClass( "fa-dot-circle-o" );
    });
 //    var myTimer = setInterval(loop, 4000);
 //    window.clearTimeout(myTimer);
 //    myTimer = setInterval(loop, 4000);
	$(document).ready(function(){
		$(".pr-prhide").hide();
        $("#pr-prd1").show();
        $('#pr-icon1').addClass( "fa-dot-circle-o" );
    });
	// var count =1
 //    function loop(){
 //        $("#pr-prd"+count).show().siblings(".pr-prhide").hide();
 //        $(".fa" ).removeClass( "fa-dot-circle-o" );
 //        $("#pr-icon"+count).addClass( "fa-dot-circle-o" );
 //    	if(count == 4){
 //    		count = 1
 //    	}else{count ++;}
 //    }
</script>
