<section class="margin-top5">
	<div class="container">
		<h1 class="text-center primary-color letter-spacing-4x">OUR SERVICES</h1>
		<hr/>
	</div>
	<div class="full-width gif-left">
		<div class="container">
			<div class="row margin-top5 margin-bottom2">
		<div class="col-sm-6 col-xs-12 col-md-push-6 ">
			<div id="deep-learning"></div>
		</div>
		<div class="col-sm-6 col-xs-12 col-md-pull-6 ">
			<h2 class="primary-color text-right capitalize mob-text-head">Machine Learning</h2>
			<h3 class="line-space-2x secondary-color text-right">A field of AI specific to making smarter systems which are able to learn, understand and adapt to maximize the results. We help companies help understand their data, derive meaningful insights and help build systems on top of the data to achieve specific goals and solve problems.</h3>
		</div>
			</div>
		</div>
	</div>  

	<div class="full-width gif-right">
		<div class="container">
			<div class="row margin-top5 margin-bottom2">
			<div class="col-sm-6">
				<div id="block-chain"></div>
			</div>
			<div class="col-sm-6  ">
				<h2 class="primary-color text-left capitalize mob-text-head">Block Chain Based Solutions</h2>
				<h3 class="line-space-2x secondary-color text-left">Blockchain is an emerging technology that incorporates the conditions required for a unbiased, immutable system able to autonomously take care of the tasks assigned to it. We assist companies/organizations willing to develop solutions based on blockchain technology to explore its impact. We act as an end-to-end partner from the initial exploratory phase, through the business case construction until solution development and roll-out</h3>
			</div>
			</div>
		</div>
	</div>


	<div class="full-width gif-left">
		<div class="container">
			<div class="row margin-top5 margin-bottom2">
		<div class="col-sm-6 col-xs-12 col-md-push-6 ">
			<div id="marketing"></div>
		</div>
		<div class="col-sm-6 col-xs-12 col-md-pull-6 ">
			<h2 class="primary-color text-right capitalize mob-text-head">Marketing & Branding Strategies</h2>
			<h3 class="line-space-2x secondary-color text-right">Digital Marketing is emerging out to be the future of marketing, with it’s evolving technology and ideas. Each idea matters to us, and conceptualising an idea that takes a brand to the next level and beyond is what we provide. We devise digital marketing campaigns that lift a brand’s reputation and awareness beyond defined goals. Marketing campaigns that matter, that have the potential to bring about a change in how a brand is perceived and recognised. </h3>
		</div>
			</div>
		</div>
	</div>  

	<div class="full-width gif-right">
		<div class="container">
			<div class="row margin-top5 margin-bottom2">
			<div class="col-sm-6">
				<div id="web"></div>
			</div>
			<div class="col-sm-6  ">
				<h2 class="primary-color text-left capitalize mob-text-head">Website Design & Development</h2>
				<h3 class="line-space-2x secondary-color text-left"> From conception and strategy to design and implementation, we build responsive websites with intuitive user experiences that specifically address your business goals and solve user challenges.We’re notorious for leveraging our proven domain expertise and follow an iterative solution development process that ensures timely and successful delivery of our commitments.</h3>
			</div>
			</div>
		</div>
	</div>

	<div class="full-width gif-left">
		<div class="container">
			<div class="row margin-top5 margin-bottom2">
		<div class="col-sm-6 col-xs-12 col-md-push-6">
			<div id="application"></div>
		</div>
		<div class="col-sm-6 col-xs-12 col-md-pull-6 ">
			<h2 class="primary-color text-right capitalize mob-text-head">Application Design & Development</h2>
			<h3 class="line-space-2x secondary-color text-right">Our skilled and experienced team is dedicated in manifesting their technical and creative expertise in order to deliver game-changing solutions and great customer experiences. We do it all - whether it’s native iOS and Android or using cross-platform frameworks like PhoneGap</h3>
		</div>
			</div>
		</div>
	</div> 
	<div class="full-width gif-right">
		<div class="container">
			<div class="row margin-top5 margin-bottom2">
			<div class="col-sm-6  prd-animation">
				<div id="graphic-design"></div>
			</div>
			<div class="col-sm-6  ">
				<h2 class="primary-color text-left capitalize mob-text-head">Logo & Brand Identity Design</h2>
				<h3 class="line-space-2x secondary-color text-left">Design and graphics are an integral part of establishing your brand identity and recognition. We identify a visual identity that is coherent with your business principles and make you stand out from a sea of other competitors and maintain that edge over them. We have the hands-on experience to help companies define the entire spectrum of their brand design.</h3>
			</div>
			</div>
		</div>
	</div>

	<div class="full-width gif-left">
		<div class="container">
			<div class="row margin-top5 margin-bottom2">
		<div class="col-sm-6 col-xs-12 col-md-push-6 ">
			<div id="photography"></div>
		</div>
		<div class="col-sm-6 col-xs-12 col-md-pull-6">
			<h2 class="primary-color text-right capitalize mob-text-head">Photography & Videography</h2>
			<h3 class="line-space-2x secondary-color text-right">We have a full fledged Media team in-house that is capable of delivering to varying requirements of media content for Businesses and Individuals. We provide tailored photography, videography and related services with the benefits of a highly customized experience that is structured to meet your unique requirements.</h3>
		</div>
			</div>
		</div>
	</div> 
	<div class="full-width gif-right">
		<div class="container">
			<div class="row margin-top5 margin-bottom2">
			<div class="col-sm-6  ">
				<div id="iot"></div>
			</div>
			<div class="col-sm-6  ">
				<h2 class="primary-color text-left capitalize mob-text-head">Harware & IOT Integration</h2>
				<h3 class="line-space-2x secondary-color text-left">Internet of Things (IoT) is emerging as the next technology mega-trend, with powerful effects across the business spectrum. IoT merges the physical and online worlds and opens up a host of new opportunities and challenges for enterprises, companies, governments and consumers.  </h3>
			</div>
			</div>
		</div>
	</div>
</section>



<script>

var animation = bodymovin.loadAnimation({
    container: document.getElementById('marketing'),
    renderer: 'svg',
    loop: true,
    autoplay: true,
    path: 'img/services/marketing/marketing.json'
})

var animation = bodymovin.loadAnimation({
    container: document.getElementById('application'),
    renderer: 'svg',
    loop: true,
    autoplay: true,
    path: 'img/services/application/application.json'
})
var animation = bodymovin.loadAnimation({
    container: document.getElementById('web'),
    renderer: 'svg',
    loop: true,
    autoplay: true,
    path: 'img/services/web/web.json'
})
var animation = bodymovin.loadAnimation({
    container: document.getElementById('graphic-design'),
    renderer: 'svg',
    loop: true,
    autoplay: true,
    path: 'img/services/graphic-design/graphic-design.json'
})
var animation = bodymovin.loadAnimation({
    container: document.getElementById('photography'),
    renderer: 'svg',
    loop: true,
    autoplay: true,
    path: 'img/services/photography/photography.json'
})
var animation = bodymovin.loadAnimation({
    container: document.getElementById('iot'),
    renderer: 'svg',
    loop: true,
    autoplay: true,
    path: 'img/services/iot/iot.json'
})
var animation = bodymovin.loadAnimation({
    container: document.getElementById('deep-learning'),
    renderer: 'svg',
    loop: true,
    autoplay: true,
    path: 'img/services/deep-learning/deep-learning.json'
})
var animation = bodymovin.loadAnimation({
    container: document.getElementById('block-chain'),
    renderer: 'svg',
    loop: true,
    autoplay: true,
    path: 'img/services/block-chain/block-chain.json'
 })



// var isActive = false;
// $(window).scroll(function() {
//     var hT = $('#marketing').offset().top,
//     hH = $('#marketing').outerHeight(),
//     wH = $(window).height(),
//     wS = $(this).scrollTop();
//     if (wS > (hT+hH-wH)){
//     	if(!isActive ){
//             var animation = bodymovin.loadAnimation({
// 				container: document.getElementById('marketing'),
// 				renderer: 'svg',
// 				loop: true,
// 				autoplay: true,
// 				path: 'img/services/marketing/marketing.json'
//     		})
//             isActive = true;
//         }
//     }
//     else{
//     	// console.log("not-appear");
//     }
// }); 

// var isActive1 = false;
// $(window).scroll(function() {
//     var hT1 = $('#application').offset().top,
//     hH1 = $('#application').outerHeight(),
//     wH1 = $(window).height(),
//     wS1 = $(this).scrollTop();
   
//     if (wS1 > (hT1+hH1-wH1)){
//     	if(!isActive1 ){
//             var animation = bodymovin.loadAnimation({
// 				container: document.getElementById('application'),
// 				renderer: 'svg',
// 				loop: true,
// 				autoplay: true,
// 				path: 'img/services/application/application.json'
// 			})
//             isActive1 = true;
//          }
//     }
// }); 

// var isActive2 = false;
// $(window).scroll(function() {
//     var hT2 = $('#web').offset().top,
//     hH2 = $('#web').outerHeight(),
//     wH2 = $(window).height(),
//     wS2 = $(this).scrollTop();
   
//     if (wS2 > (hT2+hH2-wH2)){
//     	if(!isActive2 ){
//             var animation = bodymovin.loadAnimation({
// 				container: document.getElementById('web'),
// 				renderer: 'svg',
// 				loop: true,
// 				autoplay: true,
// 				path: 'img/services/web/web.json'
// 			})
//             isActive2 = true;
//         }
//     }
// }); 

// var isActive3 = false;
// $(window).scroll(function() {
//     var hT3 = $('#graphic-design').offset().top,
//     hH3 = $('#graphic-design').outerHeight(),
//     wH3 = $(window).height(),
//     wS3 = $(this).scrollTop();
   
//     if (wS3 > (hT3+hH3-wH3)){
//     	if(!isActive3 ){
//             var animation = bodymovin.loadAnimation({
// 					container: document.getElementById('graphic-design'),
// 					renderer: 'svg',
// 					loop: true,
// 					autoplay: true,
// 					path: 'img/services/graphic-design/graphic-design.json'
// 			})
//             isActive3 = true;
//         }
//     }
// }); 

// var isActive4 = false;
// $(window).scroll(function() {
//     var hT4 = $('#photography').offset().top,
//     hH4 = $('#photography').outerHeight(),
//     wH4 = $(window).height(),
//     wS4 = $(this).scrollTop();
   
//     if (wS4 > (hT4+hH4-wH4)){
//     	if(!isActive4 ){
//             var animation = bodymovin.loadAnimation({
// 					container: document.getElementById('photography'),
// 					renderer: 'svg',
// 					loop: true,
// 					autoplay: true,
// 					path: 'img/services/photography/photography.json'
// 			})
//             isActive4 = true;
//         }
//     }
// }); 

// var isActive5 = false;
// $(window).scroll(function() {
//     var hT5 = $('#iot').offset().top,
//     hH5 = $('#iot').outerHeight(),
//     wH5 = $(window).height(),
//     wS5 = $(this).scrollTop();
   
//     if (wS5 > (hT5+hH5-wH5)){
//     	if(!isActive5 ){
//             var animation = bodymovin.loadAnimation({
// 					container: document.getElementById('iot'),
// 					renderer: 'svg',
// 					loop: true,
// 					autoplay: true,
// 					path: 'img/services/iot/iot.json'
// 			})
//             isActive5 = true;
//         }
//     }
// }); 

// var isActive6 = false;
// $(window).scroll(function() {
//     var hT6 = $('#deep-learning').offset().top,
//     hH6 = $('#deep-learning').outerHeight(),
//     wH6 = $(window).height(),
//     wS6 = $(this).scrollTop();
   
//     if (wS6 > (hT6+hH6-wH6)){
//     	if(!isActive6 ){
//         var animation = bodymovin.loadAnimation({
// 					container: document.getElementById('deep-learning'),
// 					renderer: 'svg',
// 					loop: true,
// 					autoplay: true,
// 					path: 'img/services/deep-learning/deep-learning.json'
// 			})
//             isActive6 = true;
//         }
//     }
// }); 

// var isActive7 = false;
// $(window).scroll(function() {
//     var hT7 = $('#block-chain').offset().top,
//     hH7 = $('#block-chain').outerHeight(),
//     wH7 = $(window).height(),
//     wS7 = $(this).scrollTop();
   
//     if (wS7 > (hT7+hH7-wH7)){
//     	if(!isActive7 ){
//             var animation = bodymovin.loadAnimation({
// 					container: document.getElementById('block-chain'),
// 					renderer: 'svg',
// 					loop: true,
// 					autoplay: true,
// 					path: 'img/services/block-chain/block-chain.json'
// 			})
//             isActive7 = true;
//         }
//     }
// }); 

</script>