<div class="container sec">
	<section class="section">
		<div class="row prdRow prdRowtop">
			<div class="col-sm-6 col-xs-12 col-md-push-6 smallScreen">
				<img data-src="img/gif/or/photography.gif" class="imgGif">
			</div>
			<div class="col-sm-6 col-xs-12 col-md-pull-6 smallScreen">
				<h4 class="productName text_primary">APPLICATION DESIGN & DEVELOPMENT</h4>
				<p class="section_text2" style="margin-top: 2%;text-align: justify;">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.and going through the cites of the word in classical literature, discovered the undoubtable source</p>
			</div>
		</div>

		<div class="row prdRow prdRowtop">
			<div class="col-sm-6 smallScreen">
				<img data-src="img/gif/or/website.gif" class="imgGif">
			</div>
			<div class="col-sm-6 smallScreen">
				<h4 class="productName text_primary">APPLICATION DESIGN & DEVELOPMENT</h4>
				<p class="section_text2" style="margin-top: 2%;text-align: justify;">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.and going through the cites of the word in classical literature, discovered the undoubtable source</p>
			</div>
		</div>
	</section>
</div>
<script type="text/javascript" src="js/lazy.js"></script>