<section class="margin-top5">
	<div class="container">
		<h1 class="text-center primary-color letter-spacing-4x">OUR SERVICES</h1>
		<hr/>
	</div>
	<div class="full-width gif-left">
		<div class="container">
			<div class="row margin-top5 margin-bottom2">
		<div class="col-sm-6 col-xs-12 col-md-push-6 ">
			<div id="deep-learning"></div>
		</div>
		<div class="col-sm-6 col-xs-12 col-md-pull-6 ">
			<h2 class="primary-color text-right capitalize mob-text-head">Application design & development</h2>
			<h3 class="line-space-2x secondary-color text-right">Design and graphics are an integral part of establishing your brand identity and recognition. We help in providing the look, feel and inner workings of your preference, but with our intrepid knowledge of what will make you stand out from a sea of other competitors and maintain that edge over them</h3>
		</div>
			</div>
		</div>
	</div>  

	<div class="full-width gif-right">
		<div class="container">
			<div class="row margin-top5 margin-bottom2">
			<div class="col-sm-6">
				<div id="block-chain"></div>
			</div>
			<div class="col-sm-6  ">
				<h2 class="primary-color text-left capitalize mob-text-head">Application design & development</h2>
				<h3 class="line-space-2x secondary-color text-left">Design and graphics are an integral part of establishing your brand identity and recognition. We help in providing the look, feel and inner workings of your preference, but with our intrepid knowledge of what will make you stand out from a sea of other competitors and maintain that edge over them</h3>
			</div>
			</div>
		</div>
	</div>


	<div class="full-width gif-left">
		<div class="container">
			<div class="row margin-top5 margin-bottom2">
		<div class="col-sm-6 col-xs-12 col-md-push-6 ">
			<div id="marketing"></div>
		</div>
		<div class="col-sm-6 col-xs-12 col-md-pull-6 ">
			<h2 class="primary-color text-right capitalize mob-text-head">Application design & development</h2>
			<h3 class="line-space-2x secondary-color text-right">Design and graphics are an integral part of establishing your brand identity and recognition. We help in providing the look, feel and inner workings of your preference, but with our intrepid knowledge of what will make you stand out from a sea of other competitors and maintain that edge over them</h3>
		</div>
			</div>
		</div>
	</div>  

	<div class="full-width gif-right">
		<div class="container">
			<div class="row margin-top5 margin-bottom2">
			<div class="col-sm-6">
				<div id="web"></div>
			</div>
			<div class="col-sm-6  ">
				<h2 class="primary-color text-left capitalize mob-text-head">Application design & development</h2>
				<h3 class="line-space-2x secondary-color text-left">Design and graphics are an integral part of establishing your brand identity and recognition. We help in providing the look, feel and inner workings of your preference, but with our intrepid knowledge of what will make you stand out from a sea of other competitors and maintain that edge over them</h3>
			</div>
			</div>
		</div>
	</div>

	<div class="full-width gif-left">
		<div class="container">
			<div class="row margin-top5 margin-bottom2">
		<div class="col-sm-6 col-xs-12 col-md-push-6">
			<div id="application"></div>
		</div>
		<div class="col-sm-6 col-xs-12 col-md-pull-6 ">
			<h2 class="primary-color text-right capitalize mob-text-head">Application design & development</h2>
			<h3 class="line-space-2x secondary-color text-right">Design and graphics are an integral part of establishing your brand identity and recognition. We help in providing the look, feel and inner workings of your preference, but with our intrepid knowledge of what will make you stand out from a sea of other competitors and maintain that edge over them</h3>
		</div>
			</div>
		</div>
	</div> 
	<div class="full-width gif-right">
		<div class="container">
			<div class="row margin-top5 margin-bottom2">
			<div class="col-sm-6  prd-animation">
				<div id="graphic-design"></div>
			</div>
			<div class="col-sm-6  ">
				<h2 class="primary-color text-left capitalize mob-text-head">Application design & development</h2>
				<h3 class="line-space-2x secondary-color text-left">Design and graphics are an integral part of establishing your brand identity and recognition. We help in providing the look, feel and inner workings of your preference, but with our intrepid knowledge of what will make you stand out from a sea of other competitors and maintain that edge over them</h3>
			</div>
			</div>
		</div>
	</div>

	<div class="full-width gif-left">
		<div class="container">
			<div class="row margin-top5 margin-bottom2">
		<div class="col-sm-6 col-xs-12 col-md-push-6 ">
			<div id="photography"></div>
		</div>
		<div class="col-sm-6 col-xs-12 col-md-pull-6">
			<h2 class="primary-color text-right capitalize mob-text-head">Application design & development</h2>
			<h3 class="line-space-2x secondary-color text-right">Design and graphics are an integral part of establishing your brand identity and recognition. We help in providing the look, feel and inner workings of your preference, but with our intrepid knowledge of what will make you stand out from a sea of other competitors and maintain that edge over them</h3>
		</div>
			</div>
		</div>
	</div> 
	<div class="full-width gif-right">
		<div class="container">
			<div class="row margin-top5 margin-bottom2">
			<div class="col-sm-6  ">
				<div id="iot"></div>
			</div>
			<div class="col-sm-6  ">
				<h2 class="primary-color text-left capitalize mob-text-head">Application design & development</h2>
				<h3 class="line-space-2x secondary-color text-left">Design and graphics are an integral part of establishing your brand identity and recognition. We help in providing the look, feel and inner workings of your preference, but with our intrepid knowledge of what will make you stand out from a sea of other competitors and maintain that edge over them</h3>
			</div>
			</div>
		</div>
	</div>
</section>



<script>
	var isActive = false;
	$(window).scroll(function() {
        var hT = $('#marketing').offset().top,
        hH = $('#marketing').outerHeight(),
        wH = $(window).height(),
        wS = $(this).scrollTop();
       
        if (wS > (hT+hH-wH)){
        	if(!isActive ){
                var animation = bodymovin.loadAnimation({
  					container: document.getElementById('marketing'),
  					renderer: 'svg',
  					loop: false,
  					autoplay: true,
  					path: 'img/services/marketing/marketing.json'
					})
                 isActive = true;
             }
        }
        else{
        	// console.log("not-appear");
        }
    }); 



	var isActive1 = false;
	$(window).scroll(function() {
        var hT1 = $('#application').offset().top,
        hH1 = $('#application').outerHeight(),
        wH1 = $(window).height(),
        wS1 = $(this).scrollTop();
       
        if (wS1 > (hT1+hH1-wH1)){
        	if(!isActive1 ){
                var animation = bodymovin.loadAnimation({
  					container: document.getElementById('application'),
  					renderer: 'svg',
  					loop: false,
  					autoplay: true,
  					path: 'img/services/application/application.json'
				})
                isActive1 = true;
             }
        }
        else{
        	// console.log("not-appear");
        }
    }); 


    var isActive2 = false;
	$(window).scroll(function() {
        var hT2 = $('#web').offset().top,
        hH2 = $('#web').outerHeight(),
        wH2 = $(window).height(),
        wS2 = $(this).scrollTop();
       
        if (wS2 > (hT2+hH2-wH2)){
        	if(!isActive2 ){
                var animation = bodymovin.loadAnimation({
  					container: document.getElementById('web'),
  					renderer: 'svg',
  					loop: false,
  					autoplay: true,
  					path: 'img/services/web/web.json'
				})
                isActive2 = true;
             }
        }
        else{
        	// console.log("not-appear");
        }
    }); 


    var isActive3 = false;
	$(window).scroll(function() {
        var hT3 = $('#graphic-design').offset().top,
        hH3 = $('#graphic-design').outerHeight(),
        wH3 = $(window).height(),
        wS3 = $(this).scrollTop();
       
        if (wS3 > (hT3+hH3-wH3)){
        	if(!isActive3 ){
                var animation = bodymovin.loadAnimation({
  					container: document.getElementById('graphic-design'),
  					renderer: 'svg',
  					loop: false,
  					autoplay: true,
  					path: 'img/services/graphic-design/graphic-design.json'
				})
                isActive3 = true;
             }
        }
        else{
        	// console.log("not-appear");
        }
    }); 

    var isActive4 = false;
	$(window).scroll(function() {
        var hT4 = $('#photography').offset().top,
        hH4 = $('#photography').outerHeight(),
        wH4 = $(window).height(),
        wS4 = $(this).scrollTop();
       
        if (wS4 > (hT4+hH4-wH4)){
        	if(!isActive4 ){
                var animation = bodymovin.loadAnimation({
  					container: document.getElementById('photography'),
  					renderer: 'svg',
  					loop: false,
  					autoplay: true,
  					path: 'img/services/photography/photography.json'
				})
                isActive4 = true;
             }
        }
        else{
        	// console.log("not-appear");
        }
    }); 


    var isActive5 = false;
	$(window).scroll(function() {
        var hT5 = $('#iot').offset().top,
        hH5 = $('#iot').outerHeight(),
        wH5 = $(window).height(),
        wS5 = $(this).scrollTop();
       
        if (wS5 > (hT5+hH5-wH5)){
        	if(!isActive5 ){
                var animation = bodymovin.loadAnimation({
  					container: document.getElementById('iot'),
  					renderer: 'svg',
  					loop: false,
  					autoplay: true,
  					path: 'img/services/iot/iot.json'
				})
                isActive5 = true;
             }
        }
        else{
        	// console.log("not-appear");
        }
    }); 






    var isActive6 = false;
	$(window).scroll(function() {
        var hT6 = $('#deep-learning').offset().top,
        hH6 = $('#deep-learning').outerHeight(),
        wH6 = $(window).height(),
        wS6 = $(this).scrollTop();
       
        if (wS6 > (hT6+hH6-wH6)){
        	if(!isActive6 ){
                var animation = bodymovin.loadAnimation({
  					container: document.getElementById('deep-learning'),
  					renderer: 'svg',
  					loop: false,
  					autoplay: true,
  					path: 'img/services/deep-learning/deep-learning.json'
				})
                isActive6 = true;
             }
        }
        else{
        	// console.log("not-appear");
        }
    }); 

    var isActive7 = false;
	$(window).scroll(function() {
        var hT7 = $('#block-chain').offset().top,
        hH7 = $('#block-chain').outerHeight(),
        wH7 = $(window).height(),
        wS7 = $(this).scrollTop();
       
        if (wS7 > (hT7+hH7-wH7)){
        	if(!isActive7 ){
                var animation = bodymovin.loadAnimation({
  					container: document.getElementById('block-chain'),
  					renderer: 'svg',
  					loop: false,
  					autoplay: true,
  					path: 'img/services/block-chain/block-chain.json'
				})
                isActive7 = true;
             }
        }
        else{
        	// console.log("not-appear");
        }
    }); 












	
</script>